<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div id="app">
    <el-row class="el-search-row-d">
        <el-button size="small" type="primary" @click="patientInformationCleaning">患者信息清洗</el-button>
        <template>
            <el-radio v-model="radio" label="0">在用</el-radio>
            <el-radio v-model="radio" label="1">停用</el-radio>
        </template>
        <el-date-picker
                id="datePicker"
                v-model="datePickerArray"
                size="small" type="daterange"
                align="right"
                unlink-panels
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                :picker-options="pickerOptions"
        >
        </el-date-picker>

        <el-button size="small" type="success" @click="accountDownload">刷新</el-button>
        <el-button size="small" type="success" plain>明细对账</el-button>
    </el-row>
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                max-height="400">
            <el-table-column
                    fixed
                    prop="drgName"
                    label="名称"
                    width="150">
            </el-table-column>
            <el-table-column
                    fixed
                    prop="drgName"
                    label="别名"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="drgSpecification"
                    label="规格"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="drgRegionName"
                    label="产地"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="drgPackingUnit"
                    label="单位"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="drgApprovalCode"
                    label="批准文号"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="drgCode"
                    label="院内标准码"
                    width="300">
            </el-table-column>
            <el-table-column
                    prop="centerId"
                    label="转移码"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="drgCreateDate"
                    label="录入时间"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="drgState"
                    label="使用状态"
                    width="120">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click.native.prevent="deleteRow(scope.$index, tableData)"
                            type="text"
                            size="small">
                        移除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-table
                :data="tableDataDetail"
                style="width: 100%"
                max-height="100">
            <el-table-column
                    fixed
                    prop="date"
                    label="日期"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="province"
                    label="省份"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="city"
                    label="市区"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="地址"
                    width="300">
            </el-table-column>
            <el-table-column
                    prop="zip"
                    label="邮编"
                    width="120">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click.native.prevent="deleteRow(scope.$index, tableData)"
                            type="text"
                            size="small">
                        移除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--引入axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                tableDataDetail: [],
                radio: '0'
            }
        },
        methods: {
            init: function () {
                let that = this
                axios.get('http://127.0.0.1:8090/drugRegionAlias/list', {
                    params: {drgState:that.radio,drgType:that.drgTypeList}
                }).then(res => {
                    that.tableData=res.data;
                    })
                    .catch((e) => {
                        alert('获取数据失败');
                    });
                axios.get('http://127.0.0.1:8090/ypCd/list', {
                    params: {}
                }).then(res => {
                    that.tableDataDetail=res.data;
                })
                    .catch((e) => {
                        alert('获取数据失败');
                    });
            },
            accountDownload: async function () {
                this.init()
            },
            patientInformationCleaning: async function(){
                axios.post('http://127.0.0.1:8090/patients/cleaning', {
                    params: {}
                }).then(res => {
                    alert(res.data);
                }).catch((e) => {
                        alert('获取数据失败');
                    });
            },
            deleteRow(index, rows) {
                rows.splice(index, 1);
            }
        },
        // watch: {
        //     datePickerArray(newValue, oldValue) {
        //         this.init();
        //     }
        // },
        created() {
            this.init()
        },
        mounted() {
        }
    });
</script>
</html>