<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mssql.BazdkRegisterMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mssql.BazdkRegister">
    <id column="ea_id" jdbcType="INTEGER" property="eaId" />
    <result column="ea_zyh" jdbcType="INTEGER" property="eaZyh" />
    <result column="ea_xm" jdbcType="VARCHAR" property="eaXm" />
    <result column="ea_xb" jdbcType="CHAR" property="eaXb" />
    <result column="ea_sfzh" jdbcType="VARCHAR" property="eaSfzh" />
    <result column="ea_jzrq" jdbcType="TIMESTAMP" property="eaJzrq" />
    <result column="ea_mzkb" jdbcType="VARCHAR" property="eaMzkb" />
    <result column="ea_mzlx_id" jdbcType="TINYINT" property="eaMzlxId" />
    <result column="ea_ysh" jdbcType="VARCHAR" property="eaYsh" />
    <result column="ea_xwhbz" jdbcType="TINYINT" property="eaXwhbz" />
    <result column="ea_lbh" jdbcType="VARCHAR" property="eaLbh" />
    <result column="ea_gfzh" jdbcType="VARCHAR" property="eaGfzh" />
    <result column="ea_nl" jdbcType="CHAR" property="eaNl" />
    <result column="ea_csrq" jdbcType="TIMESTAMP" property="eaCsrq" />
    <result column="ea_zy" jdbcType="VARCHAR" property="eaZy" />
    <result column="ea_jg" jdbcType="VARCHAR" property="eaJg" />
    <result column="ea_gzdw" jdbcType="VARCHAR" property="eaGzdw" />
    <result column="ea_dwdh" jdbcType="VARCHAR" property="eaDwdh" />
    <result column="ea_jtdz" jdbcType="VARCHAR" property="eaJtdz" />
    <result column="ea_sfzh_yyr" jdbcType="VARCHAR" property="eaSfzhYyr" />
    <result column="ea_djgh" jdbcType="VARCHAR" property="eaDjgh" />
    <result column="ea_djrq" jdbcType="TIMESTAMP" property="eaDjrq" />
    <result column="ea_yybz" jdbcType="CHAR" property="eaYybz" />
    <result column="ea_zlkh" jdbcType="VARCHAR" property="eaZlkh" />
    <result column="ea_drbz" jdbcType="CHAR" property="eaDrbz" />
    <result column="ea_drrq" jdbcType="TIMESTAMP" property="eaDrrq" />
    <result column="ea_drgh" jdbcType="VARCHAR" property="eaDrgh" />
    <result column="ea_lsid" jdbcType="INTEGER" property="eaLsid" />
    <result column="ea_thbz" jdbcType="INTEGER" property="eaThbz" />
    <result column="ea_thjzkhsybz" jdbcType="CHAR" property="eaThjzkhsybz" />
    <result column="ea_qxbz" jdbcType="CHAR" property="eaQxbz" />
    <result column="ea_qxrq" jdbcType="TIMESTAMP" property="eaQxrq" />
    <result column="ea_qxgh" jdbcType="VARCHAR" property="eaQxgh" />
    <result column="ea_xq" jdbcType="CHAR" property="eaXq" />
    <result column="ea_jzxh" jdbcType="SMALLINT" property="eaJzxh" />
    <result column="ea_qxyy" jdbcType="VARCHAR" property="eaQxyy" />
    <result column="ea_sjhm" jdbcType="VARCHAR" property="eaSjhm" />
    <result column="ea_zlks" jdbcType="VARCHAR" property="eaZlks" />
    <result column="ea_djrxm" jdbcType="VARCHAR" property="eaDjrxm" />
    <result column="ea_xtid" jdbcType="TINYINT" property="eaXtid" />
    <result column="ea_take_code" jdbcType="VARCHAR" property="eaTakeCode" />
    <result column="ea_patient_id" jdbcType="INTEGER" property="eaPatientId" />
    <result column="ea_update_bz" jdbcType="CHAR" property="eaUpdateBz" />
    <result column="sync_state" jdbcType="INTEGER" property="syncState" />
    <result column="ea_sfrq" jdbcType="TIMESTAMP" property="eaSfrq" />
    <result column="ea_fyrq" jdbcType="TIMESTAMP" property="eaFyrq" />
    <result column="ea_update_time" jdbcType="TIMESTAMP" property="eaUpdateTime" />
    <result column="ea_fbid" jdbcType="TINYINT" property="eaFbid" />
    <result column="yygh_send_time" jdbcType="TIMESTAMP" property="yyghSendTime" />
    <result column="ea_fwsbm" jdbcType="VARCHAR" property="eaFwsbm" />
    <result column="ea_fwsgh" jdbcType="VARCHAR" property="eaFwsgh" />
    <result column="ea_yyjgdm" jdbcType="VARCHAR" property="eaYyjgdm" />
    <result column="ea_yyjgmc" jdbcType="VARCHAR" property="eaYyjgmc" />
    <result column="ea_klx" jdbcType="VARCHAR" property="eaKlx" />
    <result column="ea_khm" jdbcType="VARCHAR" property="eaKhm" />
    <result column="ea_bzsm" jdbcType="VARCHAR" property="eaBzsm" />
  </resultMap>
  <sql id="Base_Column_List">
    ea_id, ea_zyh, ea_xm, ea_xb, ea_sfzh, ea_jzrq, ea_mzkb, ea_mzlx_id, ea_ysh, ea_xwhbz, 
    ea_lbh, ea_gfzh, ea_nl, ea_csrq, ea_zy, ea_jg, ea_gzdw, ea_dwdh, ea_jtdz, ea_sfzh_yyr, 
    ea_djgh, ea_djrq, ea_yybz, ea_zlkh, ea_drbz, ea_drrq, ea_drgh, ea_lsid, ea_thbz, 
    ea_thjzkhsybz, ea_qxbz, ea_qxrq, ea_qxgh, ea_xq, ea_jzxh, ea_qxyy, ea_sjhm, ea_zlks, 
    ea_djrxm, ea_xtid, ea_take_code, ea_patient_id, ea_update_bz, sync_state, ea_sfrq, 
    ea_fyrq, ea_update_time, ea_fbid, yygh_send_time, ea_fwsbm, ea_fwsgh, ea_yyjgdm, 
    ea_yyjgmc, ea_klx, ea_khm, ea_bzsm
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ea_bazdk_register
    where ea_id = #{eaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ea_bazdk_register
    where ea_id = #{eaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ea_id" keyProperty="eaId" parameterType="com.yicloud.trans.model.mssql.BazdkRegister" useGeneratedKeys="true">
    insert into ea_bazdk_register (ea_zyh, ea_xm, ea_xb, 
      ea_sfzh, ea_jzrq, ea_mzkb, 
      ea_mzlx_id, ea_ysh, ea_xwhbz, 
      ea_lbh, ea_gfzh, ea_nl, ea_csrq, 
      ea_zy, ea_jg, ea_gzdw, 
      ea_dwdh, ea_jtdz, ea_sfzh_yyr, 
      ea_djgh, ea_djrq, ea_yybz, 
      ea_zlkh, ea_drbz, ea_drrq, 
      ea_drgh, ea_lsid, ea_thbz, 
      ea_thjzkhsybz, ea_qxbz, ea_qxrq, 
      ea_qxgh, ea_xq, ea_jzxh, 
      ea_qxyy, ea_sjhm, ea_zlks, 
      ea_djrxm, ea_xtid, ea_take_code, 
      ea_patient_id, ea_update_bz, sync_state, 
      ea_sfrq, ea_fyrq, ea_update_time, 
      ea_fbid, yygh_send_time, ea_fwsbm, 
      ea_fwsgh, ea_yyjgdm, ea_yyjgmc, 
      ea_klx, ea_khm, ea_bzsm
      )
    values (#{eaZyh,jdbcType=INTEGER}, #{eaXm,jdbcType=VARCHAR}, #{eaXb,jdbcType=CHAR}, 
      #{eaSfzh,jdbcType=VARCHAR}, #{eaJzrq,jdbcType=TIMESTAMP}, #{eaMzkb,jdbcType=VARCHAR}, 
      #{eaMzlxId,jdbcType=TINYINT}, #{eaYsh,jdbcType=VARCHAR}, #{eaXwhbz,jdbcType=TINYINT}, 
      #{eaLbh,jdbcType=VARCHAR}, #{eaGfzh,jdbcType=VARCHAR}, #{eaNl,jdbcType=CHAR}, #{eaCsrq,jdbcType=TIMESTAMP}, 
      #{eaZy,jdbcType=VARCHAR}, #{eaJg,jdbcType=VARCHAR}, #{eaGzdw,jdbcType=VARCHAR}, 
      #{eaDwdh,jdbcType=VARCHAR}, #{eaJtdz,jdbcType=VARCHAR}, #{eaSfzhYyr,jdbcType=VARCHAR}, 
      #{eaDjgh,jdbcType=VARCHAR}, #{eaDjrq,jdbcType=TIMESTAMP}, #{eaYybz,jdbcType=CHAR}, 
      #{eaZlkh,jdbcType=VARCHAR}, #{eaDrbz,jdbcType=CHAR}, #{eaDrrq,jdbcType=TIMESTAMP}, 
      #{eaDrgh,jdbcType=VARCHAR}, #{eaLsid,jdbcType=INTEGER}, #{eaThbz,jdbcType=INTEGER}, 
      #{eaThjzkhsybz,jdbcType=CHAR}, #{eaQxbz,jdbcType=CHAR}, #{eaQxrq,jdbcType=TIMESTAMP}, 
      #{eaQxgh,jdbcType=VARCHAR}, #{eaXq,jdbcType=CHAR}, #{eaJzxh,jdbcType=SMALLINT}, 
      #{eaQxyy,jdbcType=VARCHAR}, #{eaSjhm,jdbcType=VARCHAR}, #{eaZlks,jdbcType=VARCHAR}, 
      #{eaDjrxm,jdbcType=VARCHAR}, #{eaXtid,jdbcType=TINYINT}, #{eaTakeCode,jdbcType=VARCHAR}, 
      #{eaPatientId,jdbcType=INTEGER}, #{eaUpdateBz,jdbcType=CHAR}, #{syncState,jdbcType=INTEGER}, 
      #{eaSfrq,jdbcType=TIMESTAMP}, #{eaFyrq,jdbcType=TIMESTAMP}, #{eaUpdateTime,jdbcType=TIMESTAMP}, 
      #{eaFbid,jdbcType=TINYINT}, #{yyghSendTime,jdbcType=TIMESTAMP}, #{eaFwsbm,jdbcType=VARCHAR}, 
      #{eaFwsgh,jdbcType=VARCHAR}, #{eaYyjgdm,jdbcType=VARCHAR}, #{eaYyjgmc,jdbcType=VARCHAR}, 
      #{eaKlx,jdbcType=VARCHAR}, #{eaKhm,jdbcType=VARCHAR}, #{eaBzsm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ea_id" keyProperty="eaId" parameterType="com.yicloud.trans.model.mssql.BazdkRegister" useGeneratedKeys="true">
    insert into ea_bazdk_register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eaZyh != null">
        ea_zyh,
      </if>
      <if test="eaXm != null">
        ea_xm,
      </if>
      <if test="eaXb != null">
        ea_xb,
      </if>
      <if test="eaSfzh != null">
        ea_sfzh,
      </if>
      <if test="eaJzrq != null">
        ea_jzrq,
      </if>
      <if test="eaMzkb != null">
        ea_mzkb,
      </if>
      <if test="eaMzlxId != null">
        ea_mzlx_id,
      </if>
      <if test="eaYsh != null">
        ea_ysh,
      </if>
      <if test="eaXwhbz != null">
        ea_xwhbz,
      </if>
      <if test="eaLbh != null">
        ea_lbh,
      </if>
      <if test="eaGfzh != null">
        ea_gfzh,
      </if>
      <if test="eaNl != null">
        ea_nl,
      </if>
      <if test="eaCsrq != null">
        ea_csrq,
      </if>
      <if test="eaZy != null">
        ea_zy,
      </if>
      <if test="eaJg != null">
        ea_jg,
      </if>
      <if test="eaGzdw != null">
        ea_gzdw,
      </if>
      <if test="eaDwdh != null">
        ea_dwdh,
      </if>
      <if test="eaJtdz != null">
        ea_jtdz,
      </if>
      <if test="eaSfzhYyr != null">
        ea_sfzh_yyr,
      </if>
      <if test="eaDjgh != null">
        ea_djgh,
      </if>
      <if test="eaDjrq != null">
        ea_djrq,
      </if>
      <if test="eaYybz != null">
        ea_yybz,
      </if>
      <if test="eaZlkh != null">
        ea_zlkh,
      </if>
      <if test="eaDrbz != null">
        ea_drbz,
      </if>
      <if test="eaDrrq != null">
        ea_drrq,
      </if>
      <if test="eaDrgh != null">
        ea_drgh,
      </if>
      <if test="eaLsid != null">
        ea_lsid,
      </if>
      <if test="eaThbz != null">
        ea_thbz,
      </if>
      <if test="eaThjzkhsybz != null">
        ea_thjzkhsybz,
      </if>
      <if test="eaQxbz != null">
        ea_qxbz,
      </if>
      <if test="eaQxrq != null">
        ea_qxrq,
      </if>
      <if test="eaQxgh != null">
        ea_qxgh,
      </if>
      <if test="eaXq != null">
        ea_xq,
      </if>
      <if test="eaJzxh != null">
        ea_jzxh,
      </if>
      <if test="eaQxyy != null">
        ea_qxyy,
      </if>
      <if test="eaSjhm != null">
        ea_sjhm,
      </if>
      <if test="eaZlks != null">
        ea_zlks,
      </if>
      <if test="eaDjrxm != null">
        ea_djrxm,
      </if>
      <if test="eaXtid != null">
        ea_xtid,
      </if>
      <if test="eaTakeCode != null">
        ea_take_code,
      </if>
      <if test="eaPatientId != null">
        ea_patient_id,
      </if>
      <if test="eaUpdateBz != null">
        ea_update_bz,
      </if>
      <if test="syncState != null">
        sync_state,
      </if>
      <if test="eaSfrq != null">
        ea_sfrq,
      </if>
      <if test="eaFyrq != null">
        ea_fyrq,
      </if>
      <if test="eaUpdateTime != null">
        ea_update_time,
      </if>
      <if test="eaFbid != null">
        ea_fbid,
      </if>
      <if test="yyghSendTime != null">
        yygh_send_time,
      </if>
      <if test="eaFwsbm != null">
        ea_fwsbm,
      </if>
      <if test="eaFwsgh != null">
        ea_fwsgh,
      </if>
      <if test="eaYyjgdm != null">
        ea_yyjgdm,
      </if>
      <if test="eaYyjgmc != null">
        ea_yyjgmc,
      </if>
      <if test="eaKlx != null">
        ea_klx,
      </if>
      <if test="eaKhm != null">
        ea_khm,
      </if>
      <if test="eaBzsm != null">
        ea_bzsm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eaZyh != null">
        #{eaZyh,jdbcType=INTEGER},
      </if>
      <if test="eaXm != null">
        #{eaXm,jdbcType=VARCHAR},
      </if>
      <if test="eaXb != null">
        #{eaXb,jdbcType=CHAR},
      </if>
      <if test="eaSfzh != null">
        #{eaSfzh,jdbcType=VARCHAR},
      </if>
      <if test="eaJzrq != null">
        #{eaJzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaMzkb != null">
        #{eaMzkb,jdbcType=VARCHAR},
      </if>
      <if test="eaMzlxId != null">
        #{eaMzlxId,jdbcType=TINYINT},
      </if>
      <if test="eaYsh != null">
        #{eaYsh,jdbcType=VARCHAR},
      </if>
      <if test="eaXwhbz != null">
        #{eaXwhbz,jdbcType=TINYINT},
      </if>
      <if test="eaLbh != null">
        #{eaLbh,jdbcType=VARCHAR},
      </if>
      <if test="eaGfzh != null">
        #{eaGfzh,jdbcType=VARCHAR},
      </if>
      <if test="eaNl != null">
        #{eaNl,jdbcType=CHAR},
      </if>
      <if test="eaCsrq != null">
        #{eaCsrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaZy != null">
        #{eaZy,jdbcType=VARCHAR},
      </if>
      <if test="eaJg != null">
        #{eaJg,jdbcType=VARCHAR},
      </if>
      <if test="eaGzdw != null">
        #{eaGzdw,jdbcType=VARCHAR},
      </if>
      <if test="eaDwdh != null">
        #{eaDwdh,jdbcType=VARCHAR},
      </if>
      <if test="eaJtdz != null">
        #{eaJtdz,jdbcType=VARCHAR},
      </if>
      <if test="eaSfzhYyr != null">
        #{eaSfzhYyr,jdbcType=VARCHAR},
      </if>
      <if test="eaDjgh != null">
        #{eaDjgh,jdbcType=VARCHAR},
      </if>
      <if test="eaDjrq != null">
        #{eaDjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaYybz != null">
        #{eaYybz,jdbcType=CHAR},
      </if>
      <if test="eaZlkh != null">
        #{eaZlkh,jdbcType=VARCHAR},
      </if>
      <if test="eaDrbz != null">
        #{eaDrbz,jdbcType=CHAR},
      </if>
      <if test="eaDrrq != null">
        #{eaDrrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaDrgh != null">
        #{eaDrgh,jdbcType=VARCHAR},
      </if>
      <if test="eaLsid != null">
        #{eaLsid,jdbcType=INTEGER},
      </if>
      <if test="eaThbz != null">
        #{eaThbz,jdbcType=INTEGER},
      </if>
      <if test="eaThjzkhsybz != null">
        #{eaThjzkhsybz,jdbcType=CHAR},
      </if>
      <if test="eaQxbz != null">
        #{eaQxbz,jdbcType=CHAR},
      </if>
      <if test="eaQxrq != null">
        #{eaQxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaQxgh != null">
        #{eaQxgh,jdbcType=VARCHAR},
      </if>
      <if test="eaXq != null">
        #{eaXq,jdbcType=CHAR},
      </if>
      <if test="eaJzxh != null">
        #{eaJzxh,jdbcType=SMALLINT},
      </if>
      <if test="eaQxyy != null">
        #{eaQxyy,jdbcType=VARCHAR},
      </if>
      <if test="eaSjhm != null">
        #{eaSjhm,jdbcType=VARCHAR},
      </if>
      <if test="eaZlks != null">
        #{eaZlks,jdbcType=VARCHAR},
      </if>
      <if test="eaDjrxm != null">
        #{eaDjrxm,jdbcType=VARCHAR},
      </if>
      <if test="eaXtid != null">
        #{eaXtid,jdbcType=TINYINT},
      </if>
      <if test="eaTakeCode != null">
        #{eaTakeCode,jdbcType=VARCHAR},
      </if>
      <if test="eaPatientId != null">
        #{eaPatientId,jdbcType=INTEGER},
      </if>
      <if test="eaUpdateBz != null">
        #{eaUpdateBz,jdbcType=CHAR},
      </if>
      <if test="syncState != null">
        #{syncState,jdbcType=INTEGER},
      </if>
      <if test="eaSfrq != null">
        #{eaSfrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaFyrq != null">
        #{eaFyrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaUpdateTime != null">
        #{eaUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eaFbid != null">
        #{eaFbid,jdbcType=TINYINT},
      </if>
      <if test="yyghSendTime != null">
        #{yyghSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eaFwsbm != null">
        #{eaFwsbm,jdbcType=VARCHAR},
      </if>
      <if test="eaFwsgh != null">
        #{eaFwsgh,jdbcType=VARCHAR},
      </if>
      <if test="eaYyjgdm != null">
        #{eaYyjgdm,jdbcType=VARCHAR},
      </if>
      <if test="eaYyjgmc != null">
        #{eaYyjgmc,jdbcType=VARCHAR},
      </if>
      <if test="eaKlx != null">
        #{eaKlx,jdbcType=VARCHAR},
      </if>
      <if test="eaKhm != null">
        #{eaKhm,jdbcType=VARCHAR},
      </if>
      <if test="eaBzsm != null">
        #{eaBzsm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mssql.BazdkRegister">
    update ea_bazdk_register
    <set>
      <if test="eaZyh != null">
        ea_zyh = #{eaZyh,jdbcType=INTEGER},
      </if>
      <if test="eaXm != null">
        ea_xm = #{eaXm,jdbcType=VARCHAR},
      </if>
      <if test="eaXb != null">
        ea_xb = #{eaXb,jdbcType=CHAR},
      </if>
      <if test="eaSfzh != null">
        ea_sfzh = #{eaSfzh,jdbcType=VARCHAR},
      </if>
      <if test="eaJzrq != null">
        ea_jzrq = #{eaJzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaMzkb != null">
        ea_mzkb = #{eaMzkb,jdbcType=VARCHAR},
      </if>
      <if test="eaMzlxId != null">
        ea_mzlx_id = #{eaMzlxId,jdbcType=TINYINT},
      </if>
      <if test="eaYsh != null">
        ea_ysh = #{eaYsh,jdbcType=VARCHAR},
      </if>
      <if test="eaXwhbz != null">
        ea_xwhbz = #{eaXwhbz,jdbcType=TINYINT},
      </if>
      <if test="eaLbh != null">
        ea_lbh = #{eaLbh,jdbcType=VARCHAR},
      </if>
      <if test="eaGfzh != null">
        ea_gfzh = #{eaGfzh,jdbcType=VARCHAR},
      </if>
      <if test="eaNl != null">
        ea_nl = #{eaNl,jdbcType=CHAR},
      </if>
      <if test="eaCsrq != null">
        ea_csrq = #{eaCsrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaZy != null">
        ea_zy = #{eaZy,jdbcType=VARCHAR},
      </if>
      <if test="eaJg != null">
        ea_jg = #{eaJg,jdbcType=VARCHAR},
      </if>
      <if test="eaGzdw != null">
        ea_gzdw = #{eaGzdw,jdbcType=VARCHAR},
      </if>
      <if test="eaDwdh != null">
        ea_dwdh = #{eaDwdh,jdbcType=VARCHAR},
      </if>
      <if test="eaJtdz != null">
        ea_jtdz = #{eaJtdz,jdbcType=VARCHAR},
      </if>
      <if test="eaSfzhYyr != null">
        ea_sfzh_yyr = #{eaSfzhYyr,jdbcType=VARCHAR},
      </if>
      <if test="eaDjgh != null">
        ea_djgh = #{eaDjgh,jdbcType=VARCHAR},
      </if>
      <if test="eaDjrq != null">
        ea_djrq = #{eaDjrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaYybz != null">
        ea_yybz = #{eaYybz,jdbcType=CHAR},
      </if>
      <if test="eaZlkh != null">
        ea_zlkh = #{eaZlkh,jdbcType=VARCHAR},
      </if>
      <if test="eaDrbz != null">
        ea_drbz = #{eaDrbz,jdbcType=CHAR},
      </if>
      <if test="eaDrrq != null">
        ea_drrq = #{eaDrrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaDrgh != null">
        ea_drgh = #{eaDrgh,jdbcType=VARCHAR},
      </if>
      <if test="eaLsid != null">
        ea_lsid = #{eaLsid,jdbcType=INTEGER},
      </if>
      <if test="eaThbz != null">
        ea_thbz = #{eaThbz,jdbcType=INTEGER},
      </if>
      <if test="eaThjzkhsybz != null">
        ea_thjzkhsybz = #{eaThjzkhsybz,jdbcType=CHAR},
      </if>
      <if test="eaQxbz != null">
        ea_qxbz = #{eaQxbz,jdbcType=CHAR},
      </if>
      <if test="eaQxrq != null">
        ea_qxrq = #{eaQxrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaQxgh != null">
        ea_qxgh = #{eaQxgh,jdbcType=VARCHAR},
      </if>
      <if test="eaXq != null">
        ea_xq = #{eaXq,jdbcType=CHAR},
      </if>
      <if test="eaJzxh != null">
        ea_jzxh = #{eaJzxh,jdbcType=SMALLINT},
      </if>
      <if test="eaQxyy != null">
        ea_qxyy = #{eaQxyy,jdbcType=VARCHAR},
      </if>
      <if test="eaSjhm != null">
        ea_sjhm = #{eaSjhm,jdbcType=VARCHAR},
      </if>
      <if test="eaZlks != null">
        ea_zlks = #{eaZlks,jdbcType=VARCHAR},
      </if>
      <if test="eaDjrxm != null">
        ea_djrxm = #{eaDjrxm,jdbcType=VARCHAR},
      </if>
      <if test="eaXtid != null">
        ea_xtid = #{eaXtid,jdbcType=TINYINT},
      </if>
      <if test="eaTakeCode != null">
        ea_take_code = #{eaTakeCode,jdbcType=VARCHAR},
      </if>
      <if test="eaPatientId != null">
        ea_patient_id = #{eaPatientId,jdbcType=INTEGER},
      </if>
      <if test="eaUpdateBz != null">
        ea_update_bz = #{eaUpdateBz,jdbcType=CHAR},
      </if>
      <if test="syncState != null">
        sync_state = #{syncState,jdbcType=INTEGER},
      </if>
      <if test="eaSfrq != null">
        ea_sfrq = #{eaSfrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaFyrq != null">
        ea_fyrq = #{eaFyrq,jdbcType=TIMESTAMP},
      </if>
      <if test="eaUpdateTime != null">
        ea_update_time = #{eaUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eaFbid != null">
        ea_fbid = #{eaFbid,jdbcType=TINYINT},
      </if>
      <if test="yyghSendTime != null">
        yygh_send_time = #{yyghSendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eaFwsbm != null">
        ea_fwsbm = #{eaFwsbm,jdbcType=VARCHAR},
      </if>
      <if test="eaFwsgh != null">
        ea_fwsgh = #{eaFwsgh,jdbcType=VARCHAR},
      </if>
      <if test="eaYyjgdm != null">
        ea_yyjgdm = #{eaYyjgdm,jdbcType=VARCHAR},
      </if>
      <if test="eaYyjgmc != null">
        ea_yyjgmc = #{eaYyjgmc,jdbcType=VARCHAR},
      </if>
      <if test="eaKlx != null">
        ea_klx = #{eaKlx,jdbcType=VARCHAR},
      </if>
      <if test="eaKhm != null">
        ea_khm = #{eaKhm,jdbcType=VARCHAR},
      </if>
      <if test="eaBzsm != null">
        ea_bzsm = #{eaBzsm,jdbcType=VARCHAR},
      </if>
    </set>
    where ea_id = #{eaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.BazdkRegister">
    update ea_bazdk_register
    set ea_zyh = #{eaZyh,jdbcType=INTEGER},
      ea_xm = #{eaXm,jdbcType=VARCHAR},
      ea_xb = #{eaXb,jdbcType=CHAR},
      ea_sfzh = #{eaSfzh,jdbcType=VARCHAR},
      ea_jzrq = #{eaJzrq,jdbcType=TIMESTAMP},
      ea_mzkb = #{eaMzkb,jdbcType=VARCHAR},
      ea_mzlx_id = #{eaMzlxId,jdbcType=TINYINT},
      ea_ysh = #{eaYsh,jdbcType=VARCHAR},
      ea_xwhbz = #{eaXwhbz,jdbcType=TINYINT},
      ea_lbh = #{eaLbh,jdbcType=VARCHAR},
      ea_gfzh = #{eaGfzh,jdbcType=VARCHAR},
      ea_nl = #{eaNl,jdbcType=CHAR},
      ea_csrq = #{eaCsrq,jdbcType=TIMESTAMP},
      ea_zy = #{eaZy,jdbcType=VARCHAR},
      ea_jg = #{eaJg,jdbcType=VARCHAR},
      ea_gzdw = #{eaGzdw,jdbcType=VARCHAR},
      ea_dwdh = #{eaDwdh,jdbcType=VARCHAR},
      ea_jtdz = #{eaJtdz,jdbcType=VARCHAR},
      ea_sfzh_yyr = #{eaSfzhYyr,jdbcType=VARCHAR},
      ea_djgh = #{eaDjgh,jdbcType=VARCHAR},
      ea_djrq = #{eaDjrq,jdbcType=TIMESTAMP},
      ea_yybz = #{eaYybz,jdbcType=CHAR},
      ea_zlkh = #{eaZlkh,jdbcType=VARCHAR},
      ea_drbz = #{eaDrbz,jdbcType=CHAR},
      ea_drrq = #{eaDrrq,jdbcType=TIMESTAMP},
      ea_drgh = #{eaDrgh,jdbcType=VARCHAR},
      ea_lsid = #{eaLsid,jdbcType=INTEGER},
      ea_thbz = #{eaThbz,jdbcType=INTEGER},
      ea_thjzkhsybz = #{eaThjzkhsybz,jdbcType=CHAR},
      ea_qxbz = #{eaQxbz,jdbcType=CHAR},
      ea_qxrq = #{eaQxrq,jdbcType=TIMESTAMP},
      ea_qxgh = #{eaQxgh,jdbcType=VARCHAR},
      ea_xq = #{eaXq,jdbcType=CHAR},
      ea_jzxh = #{eaJzxh,jdbcType=SMALLINT},
      ea_qxyy = #{eaQxyy,jdbcType=VARCHAR},
      ea_sjhm = #{eaSjhm,jdbcType=VARCHAR},
      ea_zlks = #{eaZlks,jdbcType=VARCHAR},
      ea_djrxm = #{eaDjrxm,jdbcType=VARCHAR},
      ea_xtid = #{eaXtid,jdbcType=TINYINT},
      ea_take_code = #{eaTakeCode,jdbcType=VARCHAR},
      ea_patient_id = #{eaPatientId,jdbcType=INTEGER},
      ea_update_bz = #{eaUpdateBz,jdbcType=CHAR},
      sync_state = #{syncState,jdbcType=INTEGER},
      ea_sfrq = #{eaSfrq,jdbcType=TIMESTAMP},
      ea_fyrq = #{eaFyrq,jdbcType=TIMESTAMP},
      ea_update_time = #{eaUpdateTime,jdbcType=TIMESTAMP},
      ea_fbid = #{eaFbid,jdbcType=TINYINT},
      yygh_send_time = #{yyghSendTime,jdbcType=TIMESTAMP},
      ea_fwsbm = #{eaFwsbm,jdbcType=VARCHAR},
      ea_fwsgh = #{eaFwsgh,jdbcType=VARCHAR},
      ea_yyjgdm = #{eaYyjgdm,jdbcType=VARCHAR},
      ea_yyjgmc = #{eaYyjgmc,jdbcType=VARCHAR},
      ea_klx = #{eaKlx,jdbcType=VARCHAR},
      ea_khm = #{eaKhm,jdbcType=VARCHAR},
      ea_bzsm = #{eaBzsm,jdbcType=VARCHAR}
    where ea_id = #{eaId,jdbcType=INTEGER}
  </update>
</mapper>