<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mssql.XymxkFMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mssql.XymxkF">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="yph" jdbcType="INTEGER" property="yph" />
    <result column="ggxh" jdbcType="CHAR" property="ggxh" />
    <result column="cd_id" jdbcType="INTEGER" property="cdId" />
    <result column="dj" jdbcType="NUMERIC" property="dj" />
    <result column="sl" jdbcType="NUMERIC" property="sl" />
    <result column="gfbz" jdbcType="CHAR" property="gfbz" />
    <result column="gytj" jdbcType="INTEGER" property="gytj" />
    <result column="gyfs" jdbcType="INTEGER" property="gyfs" />
    <result column="jl" jdbcType="NUMERIC" property="jl" />
    <result column="jldw" jdbcType="VARCHAR" property="jldw" />
    <result column="ls_id" jdbcType="INTEGER" property="lsId" />
    <result column="bz_ty" jdbcType="VARCHAR" property="bzTy" />
    <result column="bz_tf" jdbcType="VARCHAR" property="bzTf" />
    <result column="tysl" jdbcType="NUMERIC" property="tysl" />
    <result column="tz" jdbcType="CHAR" property="tz" />
    <result column="sh" jdbcType="INTEGER" property="sh" />
    <result column="tzid" jdbcType="INTEGER" property="tzid" />
    <result column="cfdw" jdbcType="VARCHAR" property="cfdw" />
    <result column="tpr" jdbcType="VARCHAR" property="tpr" />
    <result column="tpbz" jdbcType="VARCHAR" property="tpbz" />
    <result column="kfcfdw" jdbcType="VARCHAR" property="kfcfdw" />
    <result column="kfsl" jdbcType="VARCHAR" property="kfsl" />
    <result column="fs" jdbcType="INTEGER" property="fs" />
    <result column="clff" jdbcType="VARCHAR" property="clff" />
    <result column="psbz" jdbcType="INTEGER" property="psbz" />
    <result column="psjg" jdbcType="INTEGER" property="psjg" />
    <result column="yf" jdbcType="VARCHAR" property="yf" />
    <result column="zscs" jdbcType="INTEGER" property="zscs" />
    <result column="zsbz" jdbcType="INTEGER" property="zsbz" />
    <result column="dcfysl" jdbcType="NUMERIC" property="dcfysl" />
    <result column="fjbz" jdbcType="INTEGER" property="fjbz" />
    <result column="pybz" jdbcType="INTEGER" property="pybz" />
    <result column="pyjl" jdbcType="NUMERIC" property="pyjl" />
    <result column="pysl" jdbcType="INTEGER" property="pysl" />
    <result column="pysm" jdbcType="VARCHAR" property="pysm" />
    <result column="cfpfj" jdbcType="NUMERIC" property="cfpfj" />
    <result column="ybbz" jdbcType="CHAR" property="ybbz" />
    <result column="ybzfbl" jdbcType="NUMERIC" property="ybzfbl" />
    <result column="ybspbh" jdbcType="NUMERIC" property="ybspbh" />
    <result column="fsts" jdbcType="TINYINT" property="fsts" />
    <result column="ybdm" jdbcType="VARCHAR" property="ybdm" />
    <result column="ybfylb" jdbcType="VARCHAR" property="ybfylb" />
    <result column="ybcsbz" jdbcType="CHAR" property="ybcsbz" />
    <result column="zfid" jdbcType="INTEGER" property="zfid" />
    <result column="lsyph" jdbcType="INTEGER" property="lsyph" />
    <result column="xsyb_code" jdbcType="NUMERIC" property="xsybCode" />
    <result column="xsyb_zfbl" jdbcType="NUMERIC" property="xsybZfbl" />
    <result column="xsyb_fylb" jdbcType="VARCHAR" property="xsybFylb" />
    <result column="ybyyxl" jdbcType="NUMERIC" property="ybyyxl" />
    <result column="dfbz" jdbcType="CHAR" property="dfbz" />
    <result column="ybspxz" jdbcType="CHAR" property="ybspxz" />
    <result column="ffbz" jdbcType="CHAR" property="ffbz" />
    <result column="ybts" jdbcType="INTEGER" property="ybts" />
    <result column="zkl" jdbcType="NUMERIC" property="zkl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yph, ggxh, cd_id, dj, sl, gfbz, gytj, gyfs, jl, jldw, ls_id, bz_ty, bz_tf, tysl, 
    tz, sh, tzid, cfdw, tpr, tpbz, kfcfdw, kfsl, fs, clff, psbz, psjg, yf, zscs, zsbz, 
    dcfysl, fjbz, pybz, pyjl, pysl, pysm, cfpfj, ybbz, ybzfbl, ybspbh, fsts, ybdm, ybfylb, 
    ybcsbz, zfid, lsyph, xsyb_code, xsyb_zfbl, xsyb_fylb, ybyyxl, dfbz, ybspxz, ffbz, 
    ybts, zkl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xymxk_f
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xymxk_f
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mssql.XymxkF" useGeneratedKeys="true">
    insert into xymxk_f (yph, ggxh, cd_id, 
      dj, sl, gfbz, gytj, 
      gyfs, jl, jldw, ls_id, 
      bz_ty, bz_tf, tysl, tz, 
      sh, tzid, cfdw, tpr, 
      tpbz, kfcfdw, kfsl, 
      fs, clff, psbz, psjg, 
      yf, zscs, zsbz, dcfysl, 
      fjbz, pybz, pyjl, pysl, 
      pysm, cfpfj, ybbz, ybzfbl, 
      ybspbh, fsts, ybdm, 
      ybfylb, ybcsbz, zfid, 
      lsyph, xsyb_code, xsyb_zfbl, 
      xsyb_fylb, ybyyxl, dfbz, 
      ybspxz, ffbz, ybts, zkl
      )
    values (#{yph,jdbcType=INTEGER}, #{ggxh,jdbcType=CHAR}, #{cdId,jdbcType=INTEGER}, 
      #{dj,jdbcType=NUMERIC}, #{sl,jdbcType=NUMERIC}, #{gfbz,jdbcType=CHAR}, #{gytj,jdbcType=INTEGER}, 
      #{gyfs,jdbcType=INTEGER}, #{jl,jdbcType=NUMERIC}, #{jldw,jdbcType=VARCHAR}, #{lsId,jdbcType=INTEGER}, 
      #{bzTy,jdbcType=VARCHAR}, #{bzTf,jdbcType=VARCHAR}, #{tysl,jdbcType=NUMERIC}, #{tz,jdbcType=CHAR}, 
      #{sh,jdbcType=INTEGER}, #{tzid,jdbcType=INTEGER}, #{cfdw,jdbcType=VARCHAR}, #{tpr,jdbcType=VARCHAR}, 
      #{tpbz,jdbcType=VARCHAR}, #{kfcfdw,jdbcType=VARCHAR}, #{kfsl,jdbcType=VARCHAR}, 
      #{fs,jdbcType=INTEGER}, #{clff,jdbcType=VARCHAR}, #{psbz,jdbcType=INTEGER}, #{psjg,jdbcType=INTEGER}, 
      #{yf,jdbcType=VARCHAR}, #{zscs,jdbcType=INTEGER}, #{zsbz,jdbcType=INTEGER}, #{dcfysl,jdbcType=NUMERIC}, 
      #{fjbz,jdbcType=INTEGER}, #{pybz,jdbcType=INTEGER}, #{pyjl,jdbcType=NUMERIC}, #{pysl,jdbcType=INTEGER}, 
      #{pysm,jdbcType=VARCHAR}, #{cfpfj,jdbcType=NUMERIC}, #{ybbz,jdbcType=CHAR}, #{ybzfbl,jdbcType=NUMERIC}, 
      #{ybspbh,jdbcType=NUMERIC}, #{fsts,jdbcType=TINYINT}, #{ybdm,jdbcType=VARCHAR}, 
      #{ybfylb,jdbcType=VARCHAR}, #{ybcsbz,jdbcType=CHAR}, #{zfid,jdbcType=INTEGER}, 
      #{lsyph,jdbcType=INTEGER}, #{xsybCode,jdbcType=NUMERIC}, #{xsybZfbl,jdbcType=NUMERIC}, 
      #{xsybFylb,jdbcType=VARCHAR}, #{ybyyxl,jdbcType=NUMERIC}, #{dfbz,jdbcType=CHAR}, 
      #{ybspxz,jdbcType=CHAR}, #{ffbz,jdbcType=CHAR}, #{ybts,jdbcType=INTEGER}, #{zkl,jdbcType=NUMERIC}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mssql.XymxkF" useGeneratedKeys="true">
    insert into xymxk_f
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yph != null">
        yph,
      </if>
      <if test="ggxh != null">
        ggxh,
      </if>
      <if test="cdId != null">
        cd_id,
      </if>
      <if test="dj != null">
        dj,
      </if>
      <if test="sl != null">
        sl,
      </if>
      <if test="gfbz != null">
        gfbz,
      </if>
      <if test="gytj != null">
        gytj,
      </if>
      <if test="gyfs != null">
        gyfs,
      </if>
      <if test="jl != null">
        jl,
      </if>
      <if test="jldw != null">
        jldw,
      </if>
      <if test="lsId != null">
        ls_id,
      </if>
      <if test="bzTy != null">
        bz_ty,
      </if>
      <if test="bzTf != null">
        bz_tf,
      </if>
      <if test="tysl != null">
        tysl,
      </if>
      <if test="tz != null">
        tz,
      </if>
      <if test="sh != null">
        sh,
      </if>
      <if test="tzid != null">
        tzid,
      </if>
      <if test="cfdw != null">
        cfdw,
      </if>
      <if test="tpr != null">
        tpr,
      </if>
      <if test="tpbz != null">
        tpbz,
      </if>
      <if test="kfcfdw != null">
        kfcfdw,
      </if>
      <if test="kfsl != null">
        kfsl,
      </if>
      <if test="fs != null">
        fs,
      </if>
      <if test="clff != null">
        clff,
      </if>
      <if test="psbz != null">
        psbz,
      </if>
      <if test="psjg != null">
        psjg,
      </if>
      <if test="yf != null">
        yf,
      </if>
      <if test="zscs != null">
        zscs,
      </if>
      <if test="zsbz != null">
        zsbz,
      </if>
      <if test="dcfysl != null">
        dcfysl,
      </if>
      <if test="fjbz != null">
        fjbz,
      </if>
      <if test="pybz != null">
        pybz,
      </if>
      <if test="pyjl != null">
        pyjl,
      </if>
      <if test="pysl != null">
        pysl,
      </if>
      <if test="pysm != null">
        pysm,
      </if>
      <if test="cfpfj != null">
        cfpfj,
      </if>
      <if test="ybbz != null">
        ybbz,
      </if>
      <if test="ybzfbl != null">
        ybzfbl,
      </if>
      <if test="ybspbh != null">
        ybspbh,
      </if>
      <if test="fsts != null">
        fsts,
      </if>
      <if test="ybdm != null">
        ybdm,
      </if>
      <if test="ybfylb != null">
        ybfylb,
      </if>
      <if test="ybcsbz != null">
        ybcsbz,
      </if>
      <if test="zfid != null">
        zfid,
      </if>
      <if test="lsyph != null">
        lsyph,
      </if>
      <if test="xsybCode != null">
        xsyb_code,
      </if>
      <if test="xsybZfbl != null">
        xsyb_zfbl,
      </if>
      <if test="xsybFylb != null">
        xsyb_fylb,
      </if>
      <if test="ybyyxl != null">
        ybyyxl,
      </if>
      <if test="dfbz != null">
        dfbz,
      </if>
      <if test="ybspxz != null">
        ybspxz,
      </if>
      <if test="ffbz != null">
        ffbz,
      </if>
      <if test="ybts != null">
        ybts,
      </if>
      <if test="zkl != null">
        zkl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yph != null">
        #{yph,jdbcType=INTEGER},
      </if>
      <if test="ggxh != null">
        #{ggxh,jdbcType=CHAR},
      </if>
      <if test="cdId != null">
        #{cdId,jdbcType=INTEGER},
      </if>
      <if test="dj != null">
        #{dj,jdbcType=NUMERIC},
      </if>
      <if test="sl != null">
        #{sl,jdbcType=NUMERIC},
      </if>
      <if test="gfbz != null">
        #{gfbz,jdbcType=CHAR},
      </if>
      <if test="gytj != null">
        #{gytj,jdbcType=INTEGER},
      </if>
      <if test="gyfs != null">
        #{gyfs,jdbcType=INTEGER},
      </if>
      <if test="jl != null">
        #{jl,jdbcType=NUMERIC},
      </if>
      <if test="jldw != null">
        #{jldw,jdbcType=VARCHAR},
      </if>
      <if test="lsId != null">
        #{lsId,jdbcType=INTEGER},
      </if>
      <if test="bzTy != null">
        #{bzTy,jdbcType=VARCHAR},
      </if>
      <if test="bzTf != null">
        #{bzTf,jdbcType=VARCHAR},
      </if>
      <if test="tysl != null">
        #{tysl,jdbcType=NUMERIC},
      </if>
      <if test="tz != null">
        #{tz,jdbcType=CHAR},
      </if>
      <if test="sh != null">
        #{sh,jdbcType=INTEGER},
      </if>
      <if test="tzid != null">
        #{tzid,jdbcType=INTEGER},
      </if>
      <if test="cfdw != null">
        #{cfdw,jdbcType=VARCHAR},
      </if>
      <if test="tpr != null">
        #{tpr,jdbcType=VARCHAR},
      </if>
      <if test="tpbz != null">
        #{tpbz,jdbcType=VARCHAR},
      </if>
      <if test="kfcfdw != null">
        #{kfcfdw,jdbcType=VARCHAR},
      </if>
      <if test="kfsl != null">
        #{kfsl,jdbcType=VARCHAR},
      </if>
      <if test="fs != null">
        #{fs,jdbcType=INTEGER},
      </if>
      <if test="clff != null">
        #{clff,jdbcType=VARCHAR},
      </if>
      <if test="psbz != null">
        #{psbz,jdbcType=INTEGER},
      </if>
      <if test="psjg != null">
        #{psjg,jdbcType=INTEGER},
      </if>
      <if test="yf != null">
        #{yf,jdbcType=VARCHAR},
      </if>
      <if test="zscs != null">
        #{zscs,jdbcType=INTEGER},
      </if>
      <if test="zsbz != null">
        #{zsbz,jdbcType=INTEGER},
      </if>
      <if test="dcfysl != null">
        #{dcfysl,jdbcType=NUMERIC},
      </if>
      <if test="fjbz != null">
        #{fjbz,jdbcType=INTEGER},
      </if>
      <if test="pybz != null">
        #{pybz,jdbcType=INTEGER},
      </if>
      <if test="pyjl != null">
        #{pyjl,jdbcType=NUMERIC},
      </if>
      <if test="pysl != null">
        #{pysl,jdbcType=INTEGER},
      </if>
      <if test="pysm != null">
        #{pysm,jdbcType=VARCHAR},
      </if>
      <if test="cfpfj != null">
        #{cfpfj,jdbcType=NUMERIC},
      </if>
      <if test="ybbz != null">
        #{ybbz,jdbcType=CHAR},
      </if>
      <if test="ybzfbl != null">
        #{ybzfbl,jdbcType=NUMERIC},
      </if>
      <if test="ybspbh != null">
        #{ybspbh,jdbcType=NUMERIC},
      </if>
      <if test="fsts != null">
        #{fsts,jdbcType=TINYINT},
      </if>
      <if test="ybdm != null">
        #{ybdm,jdbcType=VARCHAR},
      </if>
      <if test="ybfylb != null">
        #{ybfylb,jdbcType=VARCHAR},
      </if>
      <if test="ybcsbz != null">
        #{ybcsbz,jdbcType=CHAR},
      </if>
      <if test="zfid != null">
        #{zfid,jdbcType=INTEGER},
      </if>
      <if test="lsyph != null">
        #{lsyph,jdbcType=INTEGER},
      </if>
      <if test="xsybCode != null">
        #{xsybCode,jdbcType=NUMERIC},
      </if>
      <if test="xsybZfbl != null">
        #{xsybZfbl,jdbcType=NUMERIC},
      </if>
      <if test="xsybFylb != null">
        #{xsybFylb,jdbcType=VARCHAR},
      </if>
      <if test="ybyyxl != null">
        #{ybyyxl,jdbcType=NUMERIC},
      </if>
      <if test="dfbz != null">
        #{dfbz,jdbcType=CHAR},
      </if>
      <if test="ybspxz != null">
        #{ybspxz,jdbcType=CHAR},
      </if>
      <if test="ffbz != null">
        #{ffbz,jdbcType=CHAR},
      </if>
      <if test="ybts != null">
        #{ybts,jdbcType=INTEGER},
      </if>
      <if test="zkl != null">
        #{zkl,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mssql.XymxkF">
    update xymxk_f
    <set>
      <if test="yph != null">
        yph = #{yph,jdbcType=INTEGER},
      </if>
      <if test="ggxh != null">
        ggxh = #{ggxh,jdbcType=CHAR},
      </if>
      <if test="cdId != null">
        cd_id = #{cdId,jdbcType=INTEGER},
      </if>
      <if test="dj != null">
        dj = #{dj,jdbcType=NUMERIC},
      </if>
      <if test="sl != null">
        sl = #{sl,jdbcType=NUMERIC},
      </if>
      <if test="gfbz != null">
        gfbz = #{gfbz,jdbcType=CHAR},
      </if>
      <if test="gytj != null">
        gytj = #{gytj,jdbcType=INTEGER},
      </if>
      <if test="gyfs != null">
        gyfs = #{gyfs,jdbcType=INTEGER},
      </if>
      <if test="jl != null">
        jl = #{jl,jdbcType=NUMERIC},
      </if>
      <if test="jldw != null">
        jldw = #{jldw,jdbcType=VARCHAR},
      </if>
      <if test="lsId != null">
        ls_id = #{lsId,jdbcType=INTEGER},
      </if>
      <if test="bzTy != null">
        bz_ty = #{bzTy,jdbcType=VARCHAR},
      </if>
      <if test="bzTf != null">
        bz_tf = #{bzTf,jdbcType=VARCHAR},
      </if>
      <if test="tysl != null">
        tysl = #{tysl,jdbcType=NUMERIC},
      </if>
      <if test="tz != null">
        tz = #{tz,jdbcType=CHAR},
      </if>
      <if test="sh != null">
        sh = #{sh,jdbcType=INTEGER},
      </if>
      <if test="tzid != null">
        tzid = #{tzid,jdbcType=INTEGER},
      </if>
      <if test="cfdw != null">
        cfdw = #{cfdw,jdbcType=VARCHAR},
      </if>
      <if test="tpr != null">
        tpr = #{tpr,jdbcType=VARCHAR},
      </if>
      <if test="tpbz != null">
        tpbz = #{tpbz,jdbcType=VARCHAR},
      </if>
      <if test="kfcfdw != null">
        kfcfdw = #{kfcfdw,jdbcType=VARCHAR},
      </if>
      <if test="kfsl != null">
        kfsl = #{kfsl,jdbcType=VARCHAR},
      </if>
      <if test="fs != null">
        fs = #{fs,jdbcType=INTEGER},
      </if>
      <if test="clff != null">
        clff = #{clff,jdbcType=VARCHAR},
      </if>
      <if test="psbz != null">
        psbz = #{psbz,jdbcType=INTEGER},
      </if>
      <if test="psjg != null">
        psjg = #{psjg,jdbcType=INTEGER},
      </if>
      <if test="yf != null">
        yf = #{yf,jdbcType=VARCHAR},
      </if>
      <if test="zscs != null">
        zscs = #{zscs,jdbcType=INTEGER},
      </if>
      <if test="zsbz != null">
        zsbz = #{zsbz,jdbcType=INTEGER},
      </if>
      <if test="dcfysl != null">
        dcfysl = #{dcfysl,jdbcType=NUMERIC},
      </if>
      <if test="fjbz != null">
        fjbz = #{fjbz,jdbcType=INTEGER},
      </if>
      <if test="pybz != null">
        pybz = #{pybz,jdbcType=INTEGER},
      </if>
      <if test="pyjl != null">
        pyjl = #{pyjl,jdbcType=NUMERIC},
      </if>
      <if test="pysl != null">
        pysl = #{pysl,jdbcType=INTEGER},
      </if>
      <if test="pysm != null">
        pysm = #{pysm,jdbcType=VARCHAR},
      </if>
      <if test="cfpfj != null">
        cfpfj = #{cfpfj,jdbcType=NUMERIC},
      </if>
      <if test="ybbz != null">
        ybbz = #{ybbz,jdbcType=CHAR},
      </if>
      <if test="ybzfbl != null">
        ybzfbl = #{ybzfbl,jdbcType=NUMERIC},
      </if>
      <if test="ybspbh != null">
        ybspbh = #{ybspbh,jdbcType=NUMERIC},
      </if>
      <if test="fsts != null">
        fsts = #{fsts,jdbcType=TINYINT},
      </if>
      <if test="ybdm != null">
        ybdm = #{ybdm,jdbcType=VARCHAR},
      </if>
      <if test="ybfylb != null">
        ybfylb = #{ybfylb,jdbcType=VARCHAR},
      </if>
      <if test="ybcsbz != null">
        ybcsbz = #{ybcsbz,jdbcType=CHAR},
      </if>
      <if test="zfid != null">
        zfid = #{zfid,jdbcType=INTEGER},
      </if>
      <if test="lsyph != null">
        lsyph = #{lsyph,jdbcType=INTEGER},
      </if>
      <if test="xsybCode != null">
        xsyb_code = #{xsybCode,jdbcType=NUMERIC},
      </if>
      <if test="xsybZfbl != null">
        xsyb_zfbl = #{xsybZfbl,jdbcType=NUMERIC},
      </if>
      <if test="xsybFylb != null">
        xsyb_fylb = #{xsybFylb,jdbcType=VARCHAR},
      </if>
      <if test="ybyyxl != null">
        ybyyxl = #{ybyyxl,jdbcType=NUMERIC},
      </if>
      <if test="dfbz != null">
        dfbz = #{dfbz,jdbcType=CHAR},
      </if>
      <if test="ybspxz != null">
        ybspxz = #{ybspxz,jdbcType=CHAR},
      </if>
      <if test="ffbz != null">
        ffbz = #{ffbz,jdbcType=CHAR},
      </if>
      <if test="ybts != null">
        ybts = #{ybts,jdbcType=INTEGER},
      </if>
      <if test="zkl != null">
        zkl = #{zkl,jdbcType=NUMERIC},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.XymxkF">
    update xymxk_f
    set yph = #{yph,jdbcType=INTEGER},
      ggxh = #{ggxh,jdbcType=CHAR},
      cd_id = #{cdId,jdbcType=INTEGER},
      dj = #{dj,jdbcType=NUMERIC},
      sl = #{sl,jdbcType=NUMERIC},
      gfbz = #{gfbz,jdbcType=CHAR},
      gytj = #{gytj,jdbcType=INTEGER},
      gyfs = #{gyfs,jdbcType=INTEGER},
      jl = #{jl,jdbcType=NUMERIC},
      jldw = #{jldw,jdbcType=VARCHAR},
      ls_id = #{lsId,jdbcType=INTEGER},
      bz_ty = #{bzTy,jdbcType=VARCHAR},
      bz_tf = #{bzTf,jdbcType=VARCHAR},
      tysl = #{tysl,jdbcType=NUMERIC},
      tz = #{tz,jdbcType=CHAR},
      sh = #{sh,jdbcType=INTEGER},
      tzid = #{tzid,jdbcType=INTEGER},
      cfdw = #{cfdw,jdbcType=VARCHAR},
      tpr = #{tpr,jdbcType=VARCHAR},
      tpbz = #{tpbz,jdbcType=VARCHAR},
      kfcfdw = #{kfcfdw,jdbcType=VARCHAR},
      kfsl = #{kfsl,jdbcType=VARCHAR},
      fs = #{fs,jdbcType=INTEGER},
      clff = #{clff,jdbcType=VARCHAR},
      psbz = #{psbz,jdbcType=INTEGER},
      psjg = #{psjg,jdbcType=INTEGER},
      yf = #{yf,jdbcType=VARCHAR},
      zscs = #{zscs,jdbcType=INTEGER},
      zsbz = #{zsbz,jdbcType=INTEGER},
      dcfysl = #{dcfysl,jdbcType=NUMERIC},
      fjbz = #{fjbz,jdbcType=INTEGER},
      pybz = #{pybz,jdbcType=INTEGER},
      pyjl = #{pyjl,jdbcType=NUMERIC},
      pysl = #{pysl,jdbcType=INTEGER},
      pysm = #{pysm,jdbcType=VARCHAR},
      cfpfj = #{cfpfj,jdbcType=NUMERIC},
      ybbz = #{ybbz,jdbcType=CHAR},
      ybzfbl = #{ybzfbl,jdbcType=NUMERIC},
      ybspbh = #{ybspbh,jdbcType=NUMERIC},
      fsts = #{fsts,jdbcType=TINYINT},
      ybdm = #{ybdm,jdbcType=VARCHAR},
      ybfylb = #{ybfylb,jdbcType=VARCHAR},
      ybcsbz = #{ybcsbz,jdbcType=CHAR},
      zfid = #{zfid,jdbcType=INTEGER},
      lsyph = #{lsyph,jdbcType=INTEGER},
      xsyb_code = #{xsybCode,jdbcType=NUMERIC},
      xsyb_zfbl = #{xsybZfbl,jdbcType=NUMERIC},
      xsyb_fylb = #{xsybFylb,jdbcType=VARCHAR},
      ybyyxl = #{ybyyxl,jdbcType=NUMERIC},
      dfbz = #{dfbz,jdbcType=CHAR},
      ybspxz = #{ybspxz,jdbcType=CHAR},
      ffbz = #{ffbz,jdbcType=CHAR},
      ybts = #{ybts,jdbcType=INTEGER},
      zkl = #{zkl,jdbcType=NUMERIC}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>