<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mysql.MidDrugMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mysql.MidDrug">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="drug_region_id" jdbcType="BIGINT" property="drugRegionId" />
    <result column="drug_region_name" jdbcType="VARCHAR" property="drugRegionName" />
    <result column="drug_region_specification" jdbcType="VARCHAR" property="drugRegionSpecification" />
    <result column="spe_id" jdbcType="BIGINT" property="speId" />
    <result column="man_id" jdbcType="BIGINT" property="manId" />
    <result column="yph" jdbcType="CHAR" property="yph" />
    <result column="ggxh" jdbcType="CHAR" property="ggxh" />
    <result column="cd_id" jdbcType="INTEGER" property="cdId" />
    <result column="ypmc" jdbcType="VARCHAR" property="ypmc" />
    <result column="ypgg" jdbcType="VARCHAR" property="ypgg" />
  </resultMap>
  <sql id="Base_Column_List">
    id, drug_region_id, drug_region_name, drug_region_specification, spe_id, man_id, 
    yph, ggxh, cd_id, ypmc, ypgg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mid_drug
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mid_drug
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.MidDrug" useGeneratedKeys="true">
    insert into mid_drug (drug_region_id, drug_region_name, drug_region_specification, 
      spe_id, man_id, yph, ggxh, 
      cd_id, ypmc, ypgg)
    values (#{drugRegionId,jdbcType=BIGINT}, #{drugRegionName,jdbcType=VARCHAR}, #{drugRegionSpecification,jdbcType=VARCHAR}, 
      #{speId,jdbcType=BIGINT}, #{manId,jdbcType=BIGINT}, #{yph,jdbcType=CHAR}, #{ggxh,jdbcType=CHAR}, 
      #{cdId,jdbcType=INTEGER}, #{ypmc,jdbcType=VARCHAR}, #{ypgg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.MidDrug" useGeneratedKeys="true">
    insert into mid_drug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drugRegionId != null">
        drug_region_id,
      </if>
      <if test="drugRegionName != null">
        drug_region_name,
      </if>
      <if test="drugRegionSpecification != null">
        drug_region_specification,
      </if>
      <if test="speId != null">
        spe_id,
      </if>
      <if test="manId != null">
        man_id,
      </if>
      <if test="yph != null">
        yph,
      </if>
      <if test="ggxh != null">
        ggxh,
      </if>
      <if test="cdId != null">
        cd_id,
      </if>
      <if test="ypmc != null">
        ypmc,
      </if>
      <if test="ypgg != null">
        ypgg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drugRegionId != null">
        #{drugRegionId,jdbcType=BIGINT},
      </if>
      <if test="drugRegionName != null">
        #{drugRegionName,jdbcType=VARCHAR},
      </if>
      <if test="drugRegionSpecification != null">
        #{drugRegionSpecification,jdbcType=VARCHAR},
      </if>
      <if test="speId != null">
        #{speId,jdbcType=BIGINT},
      </if>
      <if test="manId != null">
        #{manId,jdbcType=BIGINT},
      </if>
      <if test="yph != null">
        #{yph,jdbcType=CHAR},
      </if>
      <if test="ggxh != null">
        #{ggxh,jdbcType=CHAR},
      </if>
      <if test="cdId != null">
        #{cdId,jdbcType=INTEGER},
      </if>
      <if test="ypmc != null">
        #{ypmc,jdbcType=VARCHAR},
      </if>
      <if test="ypgg != null">
        #{ypgg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mysql.MidDrug">
    update mid_drug
    <set>
      <if test="drugRegionId != null">
        drug_region_id = #{drugRegionId,jdbcType=BIGINT},
      </if>
      <if test="drugRegionName != null">
        drug_region_name = #{drugRegionName,jdbcType=VARCHAR},
      </if>
      <if test="drugRegionSpecification != null">
        drug_region_specification = #{drugRegionSpecification,jdbcType=VARCHAR},
      </if>
      <if test="speId != null">
        spe_id = #{speId,jdbcType=BIGINT},
      </if>
      <if test="manId != null">
        man_id = #{manId,jdbcType=BIGINT},
      </if>
      <if test="yph != null">
        yph = #{yph,jdbcType=CHAR},
      </if>
      <if test="ggxh != null">
        ggxh = #{ggxh,jdbcType=CHAR},
      </if>
      <if test="cdId != null">
        cd_id = #{cdId,jdbcType=INTEGER},
      </if>
      <if test="ypmc != null">
        ypmc = #{ypmc,jdbcType=VARCHAR},
      </if>
      <if test="ypgg != null">
        ypgg = #{ypgg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mysql.MidDrug">
    update mid_drug
    set drug_region_id = #{drugRegionId,jdbcType=BIGINT},
      drug_region_name = #{drugRegionName,jdbcType=VARCHAR},
      drug_region_specification = #{drugRegionSpecification,jdbcType=VARCHAR},
      spe_id = #{speId,jdbcType=BIGINT},
      man_id = #{manId,jdbcType=BIGINT},
      yph = #{yph,jdbcType=CHAR},
      ggxh = #{ggxh,jdbcType=CHAR},
      cd_id = #{cdId,jdbcType=INTEGER},
      ypmc = #{ypmc,jdbcType=VARCHAR},
      ypgg = #{ypgg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>