<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mysql.OrdAppointmentMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mysql.OrdAppointment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="scheduling_id" jdbcType="BIGINT" property="schedulingId" />
    <result column="source_detail_id" jdbcType="BIGINT" property="sourceDetailId" />
    <result column="serial_number" jdbcType="CHAR" property="serialNumber" />
    <result column="time_state" jdbcType="CHAR" property="timeState" />
    <result column="dep_id" jdbcType="BIGINT" property="depId" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctorId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="bin_id" jdbcType="BIGINT" property="binId" />
    <result column="bin_name" jdbcType="VARCHAR" property="binName" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_no" jdbcType="CHAR" property="appNo" />
    <result column="app_way" jdbcType="CHAR" property="appWay" />
    <result column="app_status" jdbcType="CHAR" property="appStatus" />
    <result column="app_type" jdbcType="CHAR" property="appType" />
    <result column="pat_no" jdbcType="VARCHAR" property="patNo" />
    <result column="pat_id" jdbcType="BIGINT" property="patId" />
    <result column="pat_card_num" jdbcType="VARCHAR" property="patCardNum" />
    <result column="pat_name" jdbcType="VARCHAR" property="patName" />
    <result column="pat_sex" jdbcType="CHAR" property="patSex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pat_identity_num" jdbcType="VARCHAR" property="patIdentityNum" />
    <result column="card_type" jdbcType="CHAR" property="cardType" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="sp_no" jdbcType="VARCHAR" property="spNo" />
    <result column="sp_name" jdbcType="VARCHAR" property="spName" />
    <result column="visit_date" jdbcType="DATE" property="visitDate" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="oper" jdbcType="VARCHAR" property="oper" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="take_code" jdbcType="CHAR" property="takeCode" />
    <result column="take_time" jdbcType="TIMESTAMP" property="takeTime" />
    <result column="visit_time" jdbcType="TIMESTAMP" property="visitTime" />
    <result column="doc_time" jdbcType="TIMESTAMP" property="docTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="med_time" jdbcType="TIMESTAMP" property="medTime" />
    <result column="hospital_id" jdbcType="BIGINT" property="hospitalId" />
    <result column="sff_id" jdbcType="BIGINT" property="sffId" />
    <result column="sff_name" jdbcType="VARCHAR" property="sffName" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="upload_sign" jdbcType="CHAR" property="uploadSign" />
    <result column="upload_date" jdbcType="TIMESTAMP" property="uploadDate" />
    <result column="cancel_date" jdbcType="TIMESTAMP" property="cancelDate" />
    <result column="cancel_sff_id" jdbcType="BIGINT" property="cancelSffId" />
    <result column="time_stamp" jdbcType="TIMESTAMP" property="timeStamp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scheduling_id, source_detail_id, serial_number, time_state, dep_id, dep_name, 
    doctor_id, doctor_name, bin_id, bin_name, app_id, app_no, app_way, app_status, app_type, 
    pat_no, pat_id, pat_card_num, pat_name, pat_sex, phone, pat_identity_num, card_type, 
    card_no, sp_no, sp_name, visit_date, org_id, oper, `password`, take_code, take_time, 
    visit_time, doc_time, pay_time, med_time, hospital_id, sff_id, sff_name, create_date, 
    upload_sign, upload_date, cancel_date, cancel_sff_id, time_stamp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_appointment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ord_appointment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.OrdAppointment" useGeneratedKeys="true">
    insert into ord_appointment (scheduling_id, source_detail_id, serial_number, 
      time_state, dep_id, dep_name, 
      doctor_id, doctor_name, bin_id, 
      bin_name, app_id, app_no, 
      app_way, app_status, app_type, 
      pat_no, pat_id, pat_card_num, 
      pat_name, pat_sex, phone, 
      pat_identity_num, card_type, card_no, 
      sp_no, sp_name, visit_date, 
      org_id, oper, `password`, 
      take_code, take_time, visit_time, 
      doc_time, pay_time, med_time, 
      hospital_id, sff_id, sff_name, 
      create_date, upload_sign, upload_date, 
      cancel_date, cancel_sff_id, time_stamp
      )
    values (#{schedulingId,jdbcType=BIGINT}, #{sourceDetailId,jdbcType=BIGINT}, #{serialNumber,jdbcType=CHAR}, 
      #{timeState,jdbcType=CHAR}, #{depId,jdbcType=BIGINT}, #{depName,jdbcType=VARCHAR}, 
      #{doctorId,jdbcType=BIGINT}, #{doctorName,jdbcType=VARCHAR}, #{binId,jdbcType=BIGINT}, 
      #{binName,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{appNo,jdbcType=CHAR}, 
      #{appWay,jdbcType=CHAR}, #{appStatus,jdbcType=CHAR}, #{appType,jdbcType=CHAR}, 
      #{patNo,jdbcType=VARCHAR}, #{patId,jdbcType=BIGINT}, #{patCardNum,jdbcType=VARCHAR}, 
      #{patName,jdbcType=VARCHAR}, #{patSex,jdbcType=CHAR}, #{phone,jdbcType=VARCHAR}, 
      #{patIdentityNum,jdbcType=VARCHAR}, #{cardType,jdbcType=CHAR}, #{cardNo,jdbcType=VARCHAR}, 
      #{spNo,jdbcType=VARCHAR}, #{spName,jdbcType=VARCHAR}, #{visitDate,jdbcType=DATE}, 
      #{orgId,jdbcType=BIGINT}, #{oper,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{takeCode,jdbcType=CHAR}, #{takeTime,jdbcType=TIMESTAMP}, #{visitTime,jdbcType=TIMESTAMP}, 
      #{docTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{medTime,jdbcType=TIMESTAMP}, 
      #{hospitalId,jdbcType=BIGINT}, #{sffId,jdbcType=BIGINT}, #{sffName,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{uploadSign,jdbcType=CHAR}, #{uploadDate,jdbcType=TIMESTAMP}, 
      #{cancelDate,jdbcType=TIMESTAMP}, #{cancelSffId,jdbcType=BIGINT}, #{timeStamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.OrdAppointment" useGeneratedKeys="true">
    insert into ord_appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedulingId != null">
        scheduling_id,
      </if>
      <if test="sourceDetailId != null">
        source_detail_id,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="timeState != null">
        time_state,
      </if>
      <if test="depId != null">
        dep_id,
      </if>
      <if test="depName != null">
        dep_name,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="binId != null">
        bin_id,
      </if>
      <if test="binName != null">
        bin_name,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appNo != null">
        app_no,
      </if>
      <if test="appWay != null">
        app_way,
      </if>
      <if test="appStatus != null">
        app_status,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="patNo != null">
        pat_no,
      </if>
      <if test="patId != null">
        pat_id,
      </if>
      <if test="patCardNum != null">
        pat_card_num,
      </if>
      <if test="patName != null">
        pat_name,
      </if>
      <if test="patSex != null">
        pat_sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="patIdentityNum != null">
        pat_identity_num,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="spNo != null">
        sp_no,
      </if>
      <if test="spName != null">
        sp_name,
      </if>
      <if test="visitDate != null">
        visit_date,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="oper != null">
        oper,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="takeCode != null">
        take_code,
      </if>
      <if test="takeTime != null">
        take_time,
      </if>
      <if test="visitTime != null">
        visit_time,
      </if>
      <if test="docTime != null">
        doc_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="medTime != null">
        med_time,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="sffId != null">
        sff_id,
      </if>
      <if test="sffName != null">
        sff_name,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="uploadSign != null">
        upload_sign,
      </if>
      <if test="uploadDate != null">
        upload_date,
      </if>
      <if test="cancelDate != null">
        cancel_date,
      </if>
      <if test="cancelSffId != null">
        cancel_sff_id,
      </if>
      <if test="timeStamp != null">
        time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedulingId != null">
        #{schedulingId,jdbcType=BIGINT},
      </if>
      <if test="sourceDetailId != null">
        #{sourceDetailId,jdbcType=BIGINT},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=CHAR},
      </if>
      <if test="timeState != null">
        #{timeState,jdbcType=CHAR},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=BIGINT},
      </if>
      <if test="depName != null">
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="binId != null">
        #{binId,jdbcType=BIGINT},
      </if>
      <if test="binName != null">
        #{binName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null">
        #{appNo,jdbcType=CHAR},
      </if>
      <if test="appWay != null">
        #{appWay,jdbcType=CHAR},
      </if>
      <if test="appStatus != null">
        #{appStatus,jdbcType=CHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=CHAR},
      </if>
      <if test="patNo != null">
        #{patNo,jdbcType=VARCHAR},
      </if>
      <if test="patId != null">
        #{patId,jdbcType=BIGINT},
      </if>
      <if test="patCardNum != null">
        #{patCardNum,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        #{patName,jdbcType=VARCHAR},
      </if>
      <if test="patSex != null">
        #{patSex,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="patIdentityNum != null">
        #{patIdentityNum,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=CHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="spNo != null">
        #{spNo,jdbcType=VARCHAR},
      </if>
      <if test="spName != null">
        #{spName,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        #{visitDate,jdbcType=DATE},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="oper != null">
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="takeCode != null">
        #{takeCode,jdbcType=CHAR},
      </if>
      <if test="takeTime != null">
        #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitTime != null">
        #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docTime != null">
        #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="medTime != null">
        #{medTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="sffId != null">
        #{sffId,jdbcType=BIGINT},
      </if>
      <if test="sffName != null">
        #{sffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadSign != null">
        #{uploadSign,jdbcType=CHAR},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelDate != null">
        #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelSffId != null">
        #{cancelSffId,jdbcType=BIGINT},
      </if>
      <if test="timeStamp != null">
        #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mysql.OrdAppointment">
    update ord_appointment
    <set>
      <if test="schedulingId != null">
        scheduling_id = #{schedulingId,jdbcType=BIGINT},
      </if>
      <if test="sourceDetailId != null">
        source_detail_id = #{sourceDetailId,jdbcType=BIGINT},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=CHAR},
      </if>
      <if test="timeState != null">
        time_state = #{timeState,jdbcType=CHAR},
      </if>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=BIGINT},
      </if>
      <if test="depName != null">
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="binId != null">
        bin_id = #{binId,jdbcType=BIGINT},
      </if>
      <if test="binName != null">
        bin_name = #{binName,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appNo != null">
        app_no = #{appNo,jdbcType=CHAR},
      </if>
      <if test="appWay != null">
        app_way = #{appWay,jdbcType=CHAR},
      </if>
      <if test="appStatus != null">
        app_status = #{appStatus,jdbcType=CHAR},
      </if>
      <if test="appType != null">
        app_type = #{appType,jdbcType=CHAR},
      </if>
      <if test="patNo != null">
        pat_no = #{patNo,jdbcType=VARCHAR},
      </if>
      <if test="patId != null">
        pat_id = #{patId,jdbcType=BIGINT},
      </if>
      <if test="patCardNum != null">
        pat_card_num = #{patCardNum,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        pat_name = #{patName,jdbcType=VARCHAR},
      </if>
      <if test="patSex != null">
        pat_sex = #{patSex,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="patIdentityNum != null">
        pat_identity_num = #{patIdentityNum,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=CHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="spNo != null">
        sp_no = #{spNo,jdbcType=VARCHAR},
      </if>
      <if test="spName != null">
        sp_name = #{spName,jdbcType=VARCHAR},
      </if>
      <if test="visitDate != null">
        visit_date = #{visitDate,jdbcType=DATE},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="oper != null">
        oper = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="takeCode != null">
        take_code = #{takeCode,jdbcType=CHAR},
      </if>
      <if test="takeTime != null">
        take_time = #{takeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="visitTime != null">
        visit_time = #{visitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docTime != null">
        doc_time = #{docTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="medTime != null">
        med_time = #{medTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="sffId != null">
        sff_id = #{sffId,jdbcType=BIGINT},
      </if>
      <if test="sffName != null">
        sff_name = #{sffName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadSign != null">
        upload_sign = #{uploadSign,jdbcType=CHAR},
      </if>
      <if test="uploadDate != null">
        upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelDate != null">
        cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cancelSffId != null">
        cancel_sff_id = #{cancelSffId,jdbcType=BIGINT},
      </if>
      <if test="timeStamp != null">
        time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mysql.OrdAppointment">
    update ord_appointment
    set scheduling_id = #{schedulingId,jdbcType=BIGINT},
      source_detail_id = #{sourceDetailId,jdbcType=BIGINT},
      serial_number = #{serialNumber,jdbcType=CHAR},
      time_state = #{timeState,jdbcType=CHAR},
      dep_id = #{depId,jdbcType=BIGINT},
      dep_name = #{depName,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=BIGINT},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      bin_id = #{binId,jdbcType=BIGINT},
      bin_name = #{binName,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_no = #{appNo,jdbcType=CHAR},
      app_way = #{appWay,jdbcType=CHAR},
      app_status = #{appStatus,jdbcType=CHAR},
      app_type = #{appType,jdbcType=CHAR},
      pat_no = #{patNo,jdbcType=VARCHAR},
      pat_id = #{patId,jdbcType=BIGINT},
      pat_card_num = #{patCardNum,jdbcType=VARCHAR},
      pat_name = #{patName,jdbcType=VARCHAR},
      pat_sex = #{patSex,jdbcType=CHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pat_identity_num = #{patIdentityNum,jdbcType=VARCHAR},
      card_type = #{cardType,jdbcType=CHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      sp_no = #{spNo,jdbcType=VARCHAR},
      sp_name = #{spName,jdbcType=VARCHAR},
      visit_date = #{visitDate,jdbcType=DATE},
      org_id = #{orgId,jdbcType=BIGINT},
      oper = #{oper,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      take_code = #{takeCode,jdbcType=CHAR},
      take_time = #{takeTime,jdbcType=TIMESTAMP},
      visit_time = #{visitTime,jdbcType=TIMESTAMP},
      doc_time = #{docTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      med_time = #{medTime,jdbcType=TIMESTAMP},
      hospital_id = #{hospitalId,jdbcType=BIGINT},
      sff_id = #{sffId,jdbcType=BIGINT},
      sff_name = #{sffName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      upload_sign = #{uploadSign,jdbcType=CHAR},
      upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      cancel_date = #{cancelDate,jdbcType=TIMESTAMP},
      cancel_sff_id = #{cancelSffId,jdbcType=BIGINT},
      time_stamp = #{timeStamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>