<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mysql.OrdSourceDetailMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mysql.OrdSourceDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="scheduling_id" jdbcType="BIGINT" property="schedulingId" />
    <result column="scheduling_date" jdbcType="DATE" property="schedulingDate" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="visit_time" jdbcType="TIME" property="visitTime" />
    <result column="time_state" jdbcType="CHAR" property="timeState" />
    <result column="serial_number" jdbcType="CHAR" property="serialNumber" />
    <result column="dep_id" jdbcType="BIGINT" property="depId" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="doctor_id" jdbcType="BIGINT" property="doctorId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="bin_id" jdbcType="BIGINT" property="binId" />
    <result column="bin_name" jdbcType="VARCHAR" property="binName" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="time_stamp" jdbcType="TIMESTAMP" property="timeStamp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, scheduling_id, scheduling_date, `type`, visit_time, time_state, serial_number, 
    dep_id, dep_name, doctor_id, doctor_name, bin_id, bin_name, `state`, `status`, time_stamp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ord_source_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ord_source_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.OrdSourceDetail" useGeneratedKeys="true">
    insert into ord_source_detail (scheduling_id, scheduling_date, `type`, 
      visit_time, time_state, serial_number, 
      dep_id, dep_name, doctor_id, 
      doctor_name, bin_id, bin_name, 
      `state`, `status`, time_stamp
      )
    values (#{schedulingId,jdbcType=BIGINT}, #{schedulingDate,jdbcType=DATE}, #{type,jdbcType=CHAR}, 
      #{visitTime,jdbcType=TIME}, #{timeState,jdbcType=CHAR}, #{serialNumber,jdbcType=CHAR}, 
      #{depId,jdbcType=BIGINT}, #{depName,jdbcType=VARCHAR}, #{doctorId,jdbcType=BIGINT}, 
      #{doctorName,jdbcType=VARCHAR}, #{binId,jdbcType=BIGINT}, #{binName,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{timeStamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.OrdSourceDetail" useGeneratedKeys="true">
    insert into ord_source_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedulingId != null">
        scheduling_id,
      </if>
      <if test="schedulingDate != null">
        scheduling_date,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="visitTime != null">
        visit_time,
      </if>
      <if test="timeState != null">
        time_state,
      </if>
      <if test="serialNumber != null">
        serial_number,
      </if>
      <if test="depId != null">
        dep_id,
      </if>
      <if test="depName != null">
        dep_name,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="binId != null">
        bin_id,
      </if>
      <if test="binName != null">
        bin_name,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="timeStamp != null">
        time_stamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedulingId != null">
        #{schedulingId,jdbcType=BIGINT},
      </if>
      <if test="schedulingDate != null">
        #{schedulingDate,jdbcType=DATE},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="visitTime != null">
        #{visitTime,jdbcType=TIME},
      </if>
      <if test="timeState != null">
        #{timeState,jdbcType=CHAR},
      </if>
      <if test="serialNumber != null">
        #{serialNumber,jdbcType=CHAR},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=BIGINT},
      </if>
      <if test="depName != null">
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="binId != null">
        #{binId,jdbcType=BIGINT},
      </if>
      <if test="binName != null">
        #{binName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="timeStamp != null">
        #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mysql.OrdSourceDetail">
    update ord_source_detail
    <set>
      <if test="schedulingId != null">
        scheduling_id = #{schedulingId,jdbcType=BIGINT},
      </if>
      <if test="schedulingDate != null">
        scheduling_date = #{schedulingDate,jdbcType=DATE},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=CHAR},
      </if>
      <if test="visitTime != null">
        visit_time = #{visitTime,jdbcType=TIME},
      </if>
      <if test="timeState != null">
        time_state = #{timeState,jdbcType=CHAR},
      </if>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=CHAR},
      </if>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=BIGINT},
      </if>
      <if test="depName != null">
        dep_name = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=BIGINT},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="binId != null">
        bin_id = #{binId,jdbcType=BIGINT},
      </if>
      <if test="binName != null">
        bin_name = #{binName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="timeStamp != null">
        time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mysql.OrdSourceDetail">
    update ord_source_detail
    set scheduling_id = #{schedulingId,jdbcType=BIGINT},
      scheduling_date = #{schedulingDate,jdbcType=DATE},
      `type` = #{type,jdbcType=CHAR},
      visit_time = #{visitTime,jdbcType=TIME},
      time_state = #{timeState,jdbcType=CHAR},
      serial_number = #{serialNumber,jdbcType=CHAR},
      dep_id = #{depId,jdbcType=BIGINT},
      dep_name = #{depName,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=BIGINT},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      bin_id = #{binId,jdbcType=BIGINT},
      bin_name = #{binName,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=CHAR},
      `status` = #{status,jdbcType=CHAR},
      time_stamp = #{timeStamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>