<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mysql.PatientsMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mysql.Patients">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pat_card_num" jdbcType="VARCHAR" property="patCardNum" />
    <result column="pat_name" jdbcType="VARCHAR" property="patName" />
    <result column="pat_sex" jdbcType="CHAR" property="patSex" />
    <result column="pat_birthday" jdbcType="TIMESTAMP" property="patBirthday" />
    <result column="fee_id" jdbcType="BIGINT" property="feeId" />
    <result column="fee_name" jdbcType="VARCHAR" property="feeName" />
    <result column="nature_id" jdbcType="BIGINT" property="natureId" />
    <result column="nature_name" jdbcType="VARCHAR" property="natureName" />
    <result column="nature_type" jdbcType="CHAR" property="natureType" />
    <result column="pat_identity_num" jdbcType="VARCHAR" property="patIdentityNum" />
    <result column="pat_certifi_type" jdbcType="VARCHAR" property="patCertifiType" />
    <result column="pat_certifi_num" jdbcType="VARCHAR" property="patCertifiNum" />
    <result column="pat_fam_address" jdbcType="VARCHAR" property="patFamAddress" />
    <result column="pat_postcode" jdbcType="VARCHAR" property="patPostcode" />
    <result column="pat_contact_phone" jdbcType="VARCHAR" property="patContactPhone" />
    <result column="pat_contacts" jdbcType="VARCHAR" property="patContacts" />
    <result column="pat_phone" jdbcType="VARCHAR" property="patPhone" />
    <result column="pat_work_unit" jdbcType="VARCHAR" property="patWorkUnit" />
    <result column="pat_operation" jdbcType="VARCHAR" property="patOperation" />
    <result column="pat_country" jdbcType="VARCHAR" property="patCountry" />
    <result column="pat_nationality" jdbcType="VARCHAR" property="patNationality" />
    <result column="pat_matrimony" jdbcType="VARCHAR" property="patMatrimony" />
    <result column="pat_his_previous" jdbcType="VARCHAR" property="patHisPrevious" />
    <result column="pat_his_allergic" jdbcType="VARCHAR" property="patHisAllergic" />
    <result column="pat_his_family" jdbcType="VARCHAR" property="patHisFamily" />
    <result column="pat_record_date" jdbcType="TIMESTAMP" property="patRecordDate" />
    <result column="pat_mem_grade" jdbcType="CHAR" property="patMemGrade" />
    <result column="platfrom_id" jdbcType="BIGINT" property="platfromId" />
    <result column="personal_no" jdbcType="VARCHAR" property="personalNo" />
    <result column="medicare_card" jdbcType="VARCHAR" property="medicareCard" />
    <result column="special_disease_sign" jdbcType="CHAR" property="specialDiseaseSign" />
    <result column="stipulate_disease_code" jdbcType="VARCHAR" property="stipulateDiseaseCode" />
    <result column="stipulate_disease_name" jdbcType="VARCHAR" property="stipulateDiseaseName" />
    <result column="stipulate_disease_record_no" jdbcType="VARCHAR" property="stipulateDiseaseRecordNo" />
    <result column="med_pat_out" jdbcType="VARCHAR" property="medPatOut" />
    <result column="med_card_info" jdbcType="VARCHAR" property="medCardInfo" />
    <result column="time_stamp" jdbcType="TIMESTAMP" property="timeStamp" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
    <result column="paper_state" jdbcType="VARCHAR" property="paperState" />
    <result column="current_year_balance" jdbcType="DECIMAL" property="currentYearBalance" />
    <result column="calendar_year_balance" jdbcType="DECIMAL" property="calendarYearBalance" />
    <result column="blacklist_reasons" jdbcType="VARCHAR" property="blacklistReasons" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pat_card_num, pat_name, pat_sex, pat_birthday, fee_id, fee_name, nature_id, nature_name, 
    nature_type, pat_identity_num, pat_certifi_type, pat_certifi_num, pat_fam_address, 
    pat_postcode, pat_contact_phone, pat_contacts, pat_phone, pat_work_unit, pat_operation, 
    pat_country, pat_nationality, pat_matrimony, pat_his_previous, pat_his_allergic, 
    pat_his_family, pat_record_date, pat_mem_grade, platfrom_id, personal_no, medicare_card, 
    special_disease_sign, stipulate_disease_code, stipulate_disease_name, stipulate_disease_record_no, 
    med_pat_out, med_card_info, time_stamp, data_source, paper_state, current_year_balance, 
    calendar_year_balance, blacklist_reasons
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pub_patients
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pub_patients
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.Patients" useGeneratedKeys="true">
    insert into pub_patients (pat_card_num, pat_name, pat_sex, 
      pat_birthday, fee_id, fee_name, 
      nature_id, nature_name, nature_type, 
      pat_identity_num, pat_certifi_type, pat_certifi_num, 
      pat_fam_address, pat_postcode, pat_contact_phone, 
      pat_contacts, pat_phone, pat_work_unit, 
      pat_operation, pat_country, pat_nationality, 
      pat_matrimony, pat_his_previous, pat_his_allergic, 
      pat_his_family, pat_record_date, pat_mem_grade, 
      platfrom_id, personal_no, medicare_card, 
      special_disease_sign, stipulate_disease_code, 
      stipulate_disease_name, stipulate_disease_record_no, 
      med_pat_out, med_card_info, time_stamp, 
      data_source, paper_state, current_year_balance, 
      calendar_year_balance, blacklist_reasons)
    values (#{patCardNum,jdbcType=VARCHAR}, #{patName,jdbcType=VARCHAR}, #{patSex,jdbcType=CHAR}, 
      #{patBirthday,jdbcType=TIMESTAMP}, #{feeId,jdbcType=BIGINT}, #{feeName,jdbcType=VARCHAR}, 
      #{natureId,jdbcType=BIGINT}, #{natureName,jdbcType=VARCHAR}, #{natureType,jdbcType=CHAR}, 
      #{patIdentityNum,jdbcType=VARCHAR}, #{patCertifiType,jdbcType=VARCHAR}, #{patCertifiNum,jdbcType=VARCHAR}, 
      #{patFamAddress,jdbcType=VARCHAR}, #{patPostcode,jdbcType=VARCHAR}, #{patContactPhone,jdbcType=VARCHAR}, 
      #{patContacts,jdbcType=VARCHAR}, #{patPhone,jdbcType=VARCHAR}, #{patWorkUnit,jdbcType=VARCHAR}, 
      #{patOperation,jdbcType=VARCHAR}, #{patCountry,jdbcType=VARCHAR}, #{patNationality,jdbcType=VARCHAR}, 
      #{patMatrimony,jdbcType=VARCHAR}, #{patHisPrevious,jdbcType=VARCHAR}, #{patHisAllergic,jdbcType=VARCHAR}, 
      #{patHisFamily,jdbcType=VARCHAR}, #{patRecordDate,jdbcType=TIMESTAMP}, #{patMemGrade,jdbcType=CHAR}, 
      #{platfromId,jdbcType=BIGINT}, #{personalNo,jdbcType=VARCHAR}, #{medicareCard,jdbcType=VARCHAR}, 
      #{specialDiseaseSign,jdbcType=CHAR}, #{stipulateDiseaseCode,jdbcType=VARCHAR}, 
      #{stipulateDiseaseName,jdbcType=VARCHAR}, #{stipulateDiseaseRecordNo,jdbcType=VARCHAR}, 
      #{medPatOut,jdbcType=VARCHAR}, #{medCardInfo,jdbcType=VARCHAR}, #{timeStamp,jdbcType=TIMESTAMP}, 
      #{dataSource,jdbcType=VARCHAR}, #{paperState,jdbcType=VARCHAR}, #{currentYearBalance,jdbcType=DECIMAL}, 
      #{calendarYearBalance,jdbcType=DECIMAL}, #{blacklistReasons,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yicloud.trans.model.mysql.Patients" useGeneratedKeys="true">
    insert into pub_patients
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="patCardNum != null">
        pat_card_num,
      </if>
      <if test="patName != null">
        pat_name,
      </if>
      <if test="patSex != null">
        pat_sex,
      </if>
      <if test="patBirthday != null">
        pat_birthday,
      </if>
      <if test="feeId != null">
        fee_id,
      </if>
      <if test="feeName != null">
        fee_name,
      </if>
      <if test="natureId != null">
        nature_id,
      </if>
      <if test="natureName != null">
        nature_name,
      </if>
      <if test="natureType != null">
        nature_type,
      </if>
      <if test="patIdentityNum != null">
        pat_identity_num,
      </if>
      <if test="patCertifiType != null">
        pat_certifi_type,
      </if>
      <if test="patCertifiNum != null">
        pat_certifi_num,
      </if>
      <if test="patFamAddress != null">
        pat_fam_address,
      </if>
      <if test="patPostcode != null">
        pat_postcode,
      </if>
      <if test="patContactPhone != null">
        pat_contact_phone,
      </if>
      <if test="patContacts != null">
        pat_contacts,
      </if>
      <if test="patPhone != null">
        pat_phone,
      </if>
      <if test="patWorkUnit != null">
        pat_work_unit,
      </if>
      <if test="patOperation != null">
        pat_operation,
      </if>
      <if test="patCountry != null">
        pat_country,
      </if>
      <if test="patNationality != null">
        pat_nationality,
      </if>
      <if test="patMatrimony != null">
        pat_matrimony,
      </if>
      <if test="patHisPrevious != null">
        pat_his_previous,
      </if>
      <if test="patHisAllergic != null">
        pat_his_allergic,
      </if>
      <if test="patHisFamily != null">
        pat_his_family,
      </if>
      <if test="patRecordDate != null">
        pat_record_date,
      </if>
      <if test="patMemGrade != null">
        pat_mem_grade,
      </if>
      <if test="platfromId != null">
        platfrom_id,
      </if>
      <if test="personalNo != null">
        personal_no,
      </if>
      <if test="medicareCard != null">
        medicare_card,
      </if>
      <if test="specialDiseaseSign != null">
        special_disease_sign,
      </if>
      <if test="stipulateDiseaseCode != null">
        stipulate_disease_code,
      </if>
      <if test="stipulateDiseaseName != null">
        stipulate_disease_name,
      </if>
      <if test="stipulateDiseaseRecordNo != null">
        stipulate_disease_record_no,
      </if>
      <if test="medPatOut != null">
        med_pat_out,
      </if>
      <if test="medCardInfo != null">
        med_card_info,
      </if>
      <if test="timeStamp != null">
        time_stamp,
      </if>
      <if test="dataSource != null">
        data_source,
      </if>
      <if test="paperState != null">
        paper_state,
      </if>
      <if test="currentYearBalance != null">
        current_year_balance,
      </if>
      <if test="calendarYearBalance != null">
        calendar_year_balance,
      </if>
      <if test="blacklistReasons != null">
        blacklist_reasons,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="patCardNum != null">
        #{patCardNum,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        #{patName,jdbcType=VARCHAR},
      </if>
      <if test="patSex != null">
        #{patSex,jdbcType=CHAR},
      </if>
      <if test="patBirthday != null">
        #{patBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="feeId != null">
        #{feeId,jdbcType=BIGINT},
      </if>
      <if test="feeName != null">
        #{feeName,jdbcType=VARCHAR},
      </if>
      <if test="natureId != null">
        #{natureId,jdbcType=BIGINT},
      </if>
      <if test="natureName != null">
        #{natureName,jdbcType=VARCHAR},
      </if>
      <if test="natureType != null">
        #{natureType,jdbcType=CHAR},
      </if>
      <if test="patIdentityNum != null">
        #{patIdentityNum,jdbcType=VARCHAR},
      </if>
      <if test="patCertifiType != null">
        #{patCertifiType,jdbcType=VARCHAR},
      </if>
      <if test="patCertifiNum != null">
        #{patCertifiNum,jdbcType=VARCHAR},
      </if>
      <if test="patFamAddress != null">
        #{patFamAddress,jdbcType=VARCHAR},
      </if>
      <if test="patPostcode != null">
        #{patPostcode,jdbcType=VARCHAR},
      </if>
      <if test="patContactPhone != null">
        #{patContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="patContacts != null">
        #{patContacts,jdbcType=VARCHAR},
      </if>
      <if test="patPhone != null">
        #{patPhone,jdbcType=VARCHAR},
      </if>
      <if test="patWorkUnit != null">
        #{patWorkUnit,jdbcType=VARCHAR},
      </if>
      <if test="patOperation != null">
        #{patOperation,jdbcType=VARCHAR},
      </if>
      <if test="patCountry != null">
        #{patCountry,jdbcType=VARCHAR},
      </if>
      <if test="patNationality != null">
        #{patNationality,jdbcType=VARCHAR},
      </if>
      <if test="patMatrimony != null">
        #{patMatrimony,jdbcType=VARCHAR},
      </if>
      <if test="patHisPrevious != null">
        #{patHisPrevious,jdbcType=VARCHAR},
      </if>
      <if test="patHisAllergic != null">
        #{patHisAllergic,jdbcType=VARCHAR},
      </if>
      <if test="patHisFamily != null">
        #{patHisFamily,jdbcType=VARCHAR},
      </if>
      <if test="patRecordDate != null">
        #{patRecordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="patMemGrade != null">
        #{patMemGrade,jdbcType=CHAR},
      </if>
      <if test="platfromId != null">
        #{platfromId,jdbcType=BIGINT},
      </if>
      <if test="personalNo != null">
        #{personalNo,jdbcType=VARCHAR},
      </if>
      <if test="medicareCard != null">
        #{medicareCard,jdbcType=VARCHAR},
      </if>
      <if test="specialDiseaseSign != null">
        #{specialDiseaseSign,jdbcType=CHAR},
      </if>
      <if test="stipulateDiseaseCode != null">
        #{stipulateDiseaseCode,jdbcType=VARCHAR},
      </if>
      <if test="stipulateDiseaseName != null">
        #{stipulateDiseaseName,jdbcType=VARCHAR},
      </if>
      <if test="stipulateDiseaseRecordNo != null">
        #{stipulateDiseaseRecordNo,jdbcType=VARCHAR},
      </if>
      <if test="medPatOut != null">
        #{medPatOut,jdbcType=VARCHAR},
      </if>
      <if test="medCardInfo != null">
        #{medCardInfo,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null">
        #{timeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="paperState != null">
        #{paperState,jdbcType=VARCHAR},
      </if>
      <if test="currentYearBalance != null">
        #{currentYearBalance,jdbcType=DECIMAL},
      </if>
      <if test="calendarYearBalance != null">
        #{calendarYearBalance,jdbcType=DECIMAL},
      </if>
      <if test="blacklistReasons != null">
        #{blacklistReasons,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mysql.Patients">
    update pub_patients
    <set>
      <if test="patCardNum != null">
        pat_card_num = #{patCardNum,jdbcType=VARCHAR},
      </if>
      <if test="patName != null">
        pat_name = #{patName,jdbcType=VARCHAR},
      </if>
      <if test="patSex != null">
        pat_sex = #{patSex,jdbcType=CHAR},
      </if>
      <if test="patBirthday != null">
        pat_birthday = #{patBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="feeId != null">
        fee_id = #{feeId,jdbcType=BIGINT},
      </if>
      <if test="feeName != null">
        fee_name = #{feeName,jdbcType=VARCHAR},
      </if>
      <if test="natureId != null">
        nature_id = #{natureId,jdbcType=BIGINT},
      </if>
      <if test="natureName != null">
        nature_name = #{natureName,jdbcType=VARCHAR},
      </if>
      <if test="natureType != null">
        nature_type = #{natureType,jdbcType=CHAR},
      </if>
      <if test="patIdentityNum != null">
        pat_identity_num = #{patIdentityNum,jdbcType=VARCHAR},
      </if>
      <if test="patCertifiType != null">
        pat_certifi_type = #{patCertifiType,jdbcType=VARCHAR},
      </if>
      <if test="patCertifiNum != null">
        pat_certifi_num = #{patCertifiNum,jdbcType=VARCHAR},
      </if>
      <if test="patFamAddress != null">
        pat_fam_address = #{patFamAddress,jdbcType=VARCHAR},
      </if>
      <if test="patPostcode != null">
        pat_postcode = #{patPostcode,jdbcType=VARCHAR},
      </if>
      <if test="patContactPhone != null">
        pat_contact_phone = #{patContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="patContacts != null">
        pat_contacts = #{patContacts,jdbcType=VARCHAR},
      </if>
      <if test="patPhone != null">
        pat_phone = #{patPhone,jdbcType=VARCHAR},
      </if>
      <if test="patWorkUnit != null">
        pat_work_unit = #{patWorkUnit,jdbcType=VARCHAR},
      </if>
      <if test="patOperation != null">
        pat_operation = #{patOperation,jdbcType=VARCHAR},
      </if>
      <if test="patCountry != null">
        pat_country = #{patCountry,jdbcType=VARCHAR},
      </if>
      <if test="patNationality != null">
        pat_nationality = #{patNationality,jdbcType=VARCHAR},
      </if>
      <if test="patMatrimony != null">
        pat_matrimony = #{patMatrimony,jdbcType=VARCHAR},
      </if>
      <if test="patHisPrevious != null">
        pat_his_previous = #{patHisPrevious,jdbcType=VARCHAR},
      </if>
      <if test="patHisAllergic != null">
        pat_his_allergic = #{patHisAllergic,jdbcType=VARCHAR},
      </if>
      <if test="patHisFamily != null">
        pat_his_family = #{patHisFamily,jdbcType=VARCHAR},
      </if>
      <if test="patRecordDate != null">
        pat_record_date = #{patRecordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="patMemGrade != null">
        pat_mem_grade = #{patMemGrade,jdbcType=CHAR},
      </if>
      <if test="platfromId != null">
        platfrom_id = #{platfromId,jdbcType=BIGINT},
      </if>
      <if test="personalNo != null">
        personal_no = #{personalNo,jdbcType=VARCHAR},
      </if>
      <if test="medicareCard != null">
        medicare_card = #{medicareCard,jdbcType=VARCHAR},
      </if>
      <if test="specialDiseaseSign != null">
        special_disease_sign = #{specialDiseaseSign,jdbcType=CHAR},
      </if>
      <if test="stipulateDiseaseCode != null">
        stipulate_disease_code = #{stipulateDiseaseCode,jdbcType=VARCHAR},
      </if>
      <if test="stipulateDiseaseName != null">
        stipulate_disease_name = #{stipulateDiseaseName,jdbcType=VARCHAR},
      </if>
      <if test="stipulateDiseaseRecordNo != null">
        stipulate_disease_record_no = #{stipulateDiseaseRecordNo,jdbcType=VARCHAR},
      </if>
      <if test="medPatOut != null">
        med_pat_out = #{medPatOut,jdbcType=VARCHAR},
      </if>
      <if test="medCardInfo != null">
        med_card_info = #{medCardInfo,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null">
        time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="dataSource != null">
        data_source = #{dataSource,jdbcType=VARCHAR},
      </if>
      <if test="paperState != null">
        paper_state = #{paperState,jdbcType=VARCHAR},
      </if>
      <if test="currentYearBalance != null">
        current_year_balance = #{currentYearBalance,jdbcType=DECIMAL},
      </if>
      <if test="calendarYearBalance != null">
        calendar_year_balance = #{calendarYearBalance,jdbcType=DECIMAL},
      </if>
      <if test="blacklistReasons != null">
        blacklist_reasons = #{blacklistReasons,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mysql.Patients">
    update pub_patients
    set pat_card_num = #{patCardNum,jdbcType=VARCHAR},
      pat_name = #{patName,jdbcType=VARCHAR},
      pat_sex = #{patSex,jdbcType=CHAR},
      pat_birthday = #{patBirthday,jdbcType=TIMESTAMP},
      fee_id = #{feeId,jdbcType=BIGINT},
      fee_name = #{feeName,jdbcType=VARCHAR},
      nature_id = #{natureId,jdbcType=BIGINT},
      nature_name = #{natureName,jdbcType=VARCHAR},
      nature_type = #{natureType,jdbcType=CHAR},
      pat_identity_num = #{patIdentityNum,jdbcType=VARCHAR},
      pat_certifi_type = #{patCertifiType,jdbcType=VARCHAR},
      pat_certifi_num = #{patCertifiNum,jdbcType=VARCHAR},
      pat_fam_address = #{patFamAddress,jdbcType=VARCHAR},
      pat_postcode = #{patPostcode,jdbcType=VARCHAR},
      pat_contact_phone = #{patContactPhone,jdbcType=VARCHAR},
      pat_contacts = #{patContacts,jdbcType=VARCHAR},
      pat_phone = #{patPhone,jdbcType=VARCHAR},
      pat_work_unit = #{patWorkUnit,jdbcType=VARCHAR},
      pat_operation = #{patOperation,jdbcType=VARCHAR},
      pat_country = #{patCountry,jdbcType=VARCHAR},
      pat_nationality = #{patNationality,jdbcType=VARCHAR},
      pat_matrimony = #{patMatrimony,jdbcType=VARCHAR},
      pat_his_previous = #{patHisPrevious,jdbcType=VARCHAR},
      pat_his_allergic = #{patHisAllergic,jdbcType=VARCHAR},
      pat_his_family = #{patHisFamily,jdbcType=VARCHAR},
      pat_record_date = #{patRecordDate,jdbcType=TIMESTAMP},
      pat_mem_grade = #{patMemGrade,jdbcType=CHAR},
      platfrom_id = #{platfromId,jdbcType=BIGINT},
      personal_no = #{personalNo,jdbcType=VARCHAR},
      medicare_card = #{medicareCard,jdbcType=VARCHAR},
      special_disease_sign = #{specialDiseaseSign,jdbcType=CHAR},
      stipulate_disease_code = #{stipulateDiseaseCode,jdbcType=VARCHAR},
      stipulate_disease_name = #{stipulateDiseaseName,jdbcType=VARCHAR},
      stipulate_disease_record_no = #{stipulateDiseaseRecordNo,jdbcType=VARCHAR},
      med_pat_out = #{medPatOut,jdbcType=VARCHAR},
      med_card_info = #{medCardInfo,jdbcType=VARCHAR},
      time_stamp = #{timeStamp,jdbcType=TIMESTAMP},
      data_source = #{dataSource,jdbcType=VARCHAR},
      paper_state = #{paperState,jdbcType=VARCHAR},
      current_year_balance = #{currentYearBalance,jdbcType=DECIMAL},
      calendar_year_balance = #{calendarYearBalance,jdbcType=DECIMAL},
      blacklist_reasons = #{blacklistReasons,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>