<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mssql.zd.Gfjb2YbbrMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mssql.zd.Gfjb2Ybbr">
    <result column="lbh" jdbcType="CHAR" property="lbh" />
    <result column="yblbh" jdbcType="VARCHAR" property="yblbh" />
    <result column="yblbm" jdbcType="VARCHAR" property="yblbm" />
  </resultMap>
  <insert id="insert" parameterType="com.yicloud.trans.model.mssql.zd.Gfjb2Ybbr">
    insert into zd_gfjb2_ybbr (lbh, yblbh, yblbm
      )
    values (#{lbh,jdbcType=CHAR}, #{yblbh,jdbcType=VARCHAR}, #{yblbm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yicloud.trans.model.mssql.zd.Gfjb2Ybbr">
    insert into zd_gfjb2_ybbr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lbh != null">
        lbh,
      </if>
      <if test="yblbh != null">
        yblbh,
      </if>
      <if test="yblbm != null">
        yblbm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lbh != null">
        #{lbh,jdbcType=CHAR},
      </if>
      <if test="yblbh != null">
        #{yblbh,jdbcType=VARCHAR},
      </if>
      <if test="yblbm != null">
        #{yblbm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>