<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mssql.zd.YpMcMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mssql.zd.YpMc">
    <id column="yph" jdbcType="INTEGER" property="yph" />
    <result column="ypmc" jdbcType="VARCHAR" property="ypmc" />
    <result column="ypbm" jdbcType="VARCHAR" property="ypbm" />
    <result column="lsyph" jdbcType="INTEGER" property="lsyph" />
    <result column="bzbm" jdbcType="VARCHAR" property="bzbm" />
    <result column="txm" jdbcType="VARCHAR" property="txm" />
    <result column="lsid" jdbcType="INTEGER" property="lsid" />
    <result column="zfbz" jdbcType="CHAR" property="zfbz" />
    <result column="zblb_1" jdbcType="INTEGER" property="zblb1" />
    <result column="sm" jdbcType="VARCHAR" property="sm" />
    <result column="tslb" jdbcType="INTEGER" property="tslb" />
    <result column="gyfs" jdbcType="INTEGER" property="gyfs" />
    <result column="jx" jdbcType="INTEGER" property="jx" />
    <result column="sf" jdbcType="INTEGER" property="sf" />
    <result column="fzbz" jdbcType="CHAR" property="fzbz" />
    <result column="zjlb" jdbcType="INTEGER" property="zjlb" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="xysm" jdbcType="VARCHAR" property="xysm" />
    <result column="fylb" jdbcType="SMALLINT" property="fylb" />
    <result column="scph" jdbcType="VARCHAR" property="scph" />
    <result column="ls_yph" jdbcType="CHAR" property="lsYph" />
    <result column="qxbz" jdbcType="CHAR" property="qxbz" />
    <result column="kssbz" jdbcType="CHAR" property="kssbz" />
    <result column="gypl" jdbcType="INTEGER" property="gypl" />
  </resultMap>
  <sql id="Base_Column_List">
    yph, ypmc, ypbm, lsyph, bzbm, txm, lsid, zfbz, zblb_1, sm, tslb, gyfs, jx, sf, fzbz, 
    zjlb, code, xysm, fylb, scph, ls_yph, qxbz, kssbz, gypl
  </sql>
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from yp_mc-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
<!--    delete from yp_mc-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--  </delete>-->
<!--  <insert id="insert" keyColumn="yph" keyProperty="yph" parameterType="com.yicloud.trans.model.mssql.zd.YpMc" useGeneratedKeys="true">-->
<!--    insert into yp_mc (ypmc, ypbm, lsyph, -->
<!--      bzbm, txm, lsid, zfbz, -->
<!--      zblb_1, sm, tslb, gyfs, -->
<!--      jx, sf, fzbz, zjlb, -->
<!--      code, xysm, fylb, -->
<!--      scph, ls_yph, qxbz, kssbz, -->
<!--      gypl)-->
<!--    values (#{ypmc,jdbcType=VARCHAR}, #{ypbm,jdbcType=VARCHAR}, #{lsyph,jdbcType=INTEGER}, -->
<!--      #{bzbm,jdbcType=VARCHAR}, #{txm,jdbcType=VARCHAR}, #{lsid,jdbcType=INTEGER}, #{zfbz,jdbcType=CHAR}, -->
<!--      #{zblb1,jdbcType=INTEGER}, #{sm,jdbcType=VARCHAR}, #{tslb,jdbcType=INTEGER}, #{gyfs,jdbcType=INTEGER}, -->
<!--      #{jx,jdbcType=INTEGER}, #{sf,jdbcType=INTEGER}, #{fzbz,jdbcType=CHAR}, #{zjlb,jdbcType=INTEGER}, -->
<!--      #{code,jdbcType=INTEGER}, #{xysm,jdbcType=VARCHAR}, #{fylb,jdbcType=SMALLINT}, -->
<!--      #{scph,jdbcType=VARCHAR}, #{lsYph,jdbcType=CHAR}, #{qxbz,jdbcType=CHAR}, #{kssbz,jdbcType=CHAR}, -->
<!--      #{gypl,jdbcType=INTEGER})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" keyColumn="yph" keyProperty="yph" parameterType="com.yicloud.trans.model.mssql.zd.YpMc" useGeneratedKeys="true">-->
<!--    insert into yp_mc-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="ypmc != null">-->
<!--        ypmc,-->
<!--      </if>-->
<!--      <if test="ypbm != null">-->
<!--        ypbm,-->
<!--      </if>-->
<!--      <if test="lsyph != null">-->
<!--        lsyph,-->
<!--      </if>-->
<!--      <if test="bzbm != null">-->
<!--        bzbm,-->
<!--      </if>-->
<!--      <if test="txm != null">-->
<!--        txm,-->
<!--      </if>-->
<!--      <if test="lsid != null">-->
<!--        lsid,-->
<!--      </if>-->
<!--      <if test="zfbz != null">-->
<!--        zfbz,-->
<!--      </if>-->
<!--      <if test="zblb1 != null">-->
<!--        zblb_1,-->
<!--      </if>-->
<!--      <if test="sm != null">-->
<!--        sm,-->
<!--      </if>-->
<!--      <if test="tslb != null">-->
<!--        tslb,-->
<!--      </if>-->
<!--      <if test="gyfs != null">-->
<!--        gyfs,-->
<!--      </if>-->
<!--      <if test="jx != null">-->
<!--        jx,-->
<!--      </if>-->
<!--      <if test="sf != null">-->
<!--        sf,-->
<!--      </if>-->
<!--      <if test="fzbz != null">-->
<!--        fzbz,-->
<!--      </if>-->
<!--      <if test="zjlb != null">-->
<!--        zjlb,-->
<!--      </if>-->
<!--      <if test="code != null">-->
<!--        code,-->
<!--      </if>-->
<!--      <if test="xysm != null">-->
<!--        xysm,-->
<!--      </if>-->
<!--      <if test="fylb != null">-->
<!--        fylb,-->
<!--      </if>-->
<!--      <if test="scph != null">-->
<!--        scph,-->
<!--      </if>-->
<!--      <if test="lsYph != null">-->
<!--        ls_yph,-->
<!--      </if>-->
<!--      <if test="qxbz != null">-->
<!--        qxbz,-->
<!--      </if>-->
<!--      <if test="kssbz != null">-->
<!--        kssbz,-->
<!--      </if>-->
<!--      <if test="gypl != null">-->
<!--        gypl,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="ypmc != null">-->
<!--        #{ypmc,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="ypbm != null">-->
<!--        #{ypbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lsyph != null">-->
<!--        #{lsyph,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="bzbm != null">-->
<!--        #{bzbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="txm != null">-->
<!--        #{txm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lsid != null">-->
<!--        #{lsid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="zfbz != null">-->
<!--        #{zfbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="zblb1 != null">-->
<!--        #{zblb1,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="sm != null">-->
<!--        #{sm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="tslb != null">-->
<!--        #{tslb,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="gyfs != null">-->
<!--        #{gyfs,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="jx != null">-->
<!--        #{jx,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="sf != null">-->
<!--        #{sf,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="fzbz != null">-->
<!--        #{fzbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="zjlb != null">-->
<!--        #{zjlb,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="code != null">-->
<!--        #{code,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="xysm != null">-->
<!--        #{xysm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="fylb != null">-->
<!--        #{fylb,jdbcType=SMALLINT},-->
<!--      </if>-->
<!--      <if test="scph != null">-->
<!--        #{scph,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lsYph != null">-->
<!--        #{lsYph,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="qxbz != null">-->
<!--        #{qxbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="kssbz != null">-->
<!--        #{kssbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="gypl != null">-->
<!--        #{gypl,jdbcType=INTEGER},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mssql.zd.YpMc">-->
<!--    update yp_mc-->
<!--    <set>-->
<!--      <if test="ypmc != null">-->
<!--        ypmc = #{ypmc,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="ypbm != null">-->
<!--        ypbm = #{ypbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lsyph != null">-->
<!--        lsyph = #{lsyph,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="bzbm != null">-->
<!--        bzbm = #{bzbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="txm != null">-->
<!--        txm = #{txm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lsid != null">-->
<!--        lsid = #{lsid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="zfbz != null">-->
<!--        zfbz = #{zfbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="zblb1 != null">-->
<!--        zblb_1 = #{zblb1,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="sm != null">-->
<!--        sm = #{sm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="tslb != null">-->
<!--        tslb = #{tslb,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="gyfs != null">-->
<!--        gyfs = #{gyfs,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="jx != null">-->
<!--        jx = #{jx,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="sf != null">-->
<!--        sf = #{sf,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="fzbz != null">-->
<!--        fzbz = #{fzbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="zjlb != null">-->
<!--        zjlb = #{zjlb,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="code != null">-->
<!--        code = #{code,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="xysm != null">-->
<!--        xysm = #{xysm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="fylb != null">-->
<!--        fylb = #{fylb,jdbcType=SMALLINT},-->
<!--      </if>-->
<!--      <if test="scph != null">-->
<!--        scph = #{scph,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="lsYph != null">-->
<!--        ls_yph = #{lsYph,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="qxbz != null">-->
<!--        qxbz = #{qxbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="kssbz != null">-->
<!--        kssbz = #{kssbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="gypl != null">-->
<!--        gypl = #{gypl,jdbcType=INTEGER},-->
<!--      </if>-->
<!--    </set>-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.zd.YpMc">-->
<!--    update yp_mc-->
<!--    set ypmc = #{ypmc,jdbcType=VARCHAR},-->
<!--      ypbm = #{ypbm,jdbcType=VARCHAR},-->
<!--      lsyph = #{lsyph,jdbcType=INTEGER},-->
<!--      bzbm = #{bzbm,jdbcType=VARCHAR},-->
<!--      txm = #{txm,jdbcType=VARCHAR},-->
<!--      lsid = #{lsid,jdbcType=INTEGER},-->
<!--      zfbz = #{zfbz,jdbcType=CHAR},-->
<!--      zblb_1 = #{zblb1,jdbcType=INTEGER},-->
<!--      sm = #{sm,jdbcType=VARCHAR},-->
<!--      tslb = #{tslb,jdbcType=INTEGER},-->
<!--      gyfs = #{gyfs,jdbcType=INTEGER},-->
<!--      jx = #{jx,jdbcType=INTEGER},-->
<!--      sf = #{sf,jdbcType=INTEGER},-->
<!--      fzbz = #{fzbz,jdbcType=CHAR},-->
<!--      zjlb = #{zjlb,jdbcType=INTEGER},-->
<!--      code = #{code,jdbcType=INTEGER},-->
<!--      xysm = #{xysm,jdbcType=VARCHAR},-->
<!--      fylb = #{fylb,jdbcType=SMALLINT},-->
<!--      scph = #{scph,jdbcType=VARCHAR},-->
<!--      ls_yph = #{lsYph,jdbcType=CHAR},-->
<!--      qxbz = #{qxbz,jdbcType=CHAR},-->
<!--      kssbz = #{kssbz,jdbcType=CHAR},-->
<!--      gypl = #{gypl,jdbcType=INTEGER}-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>