<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mssql.zd.YpPcMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mssql.zd.YpPc">
    <id column="yph" jdbcType="INTEGER" property="yph" />
    <id column="ggxh" jdbcType="CHAR" property="ggxh" />
    <id column="cd_id" jdbcType="INTEGER" property="cdId" />
    <id column="pcxh" jdbcType="CHAR" property="pcxh" />
    <result column="lsid" jdbcType="INTEGER" property="lsid" />
    <result column="scph" jdbcType="VARCHAR" property="scph" />
    <result column="yxq" jdbcType="TIMESTAMP" property="yxq" />
    <result column="jj" jdbcType="NUMERIC" property="jj" />
    <result column="kcsl" jdbcType="NUMERIC" property="kcsl" />
    <result column="dzbz" jdbcType="INTEGER" property="dzbz" />
    <result column="pbbz" jdbcType="INTEGER" property="pbbz" />
    <result column="pzwh" jdbcType="VARCHAR" property="pzwh" />
  </resultMap>
  <sql id="Base_Column_List">
    yph, ggxh, cd_id, pcxh, lsid, scph, yxq, jj, kcsl, dzbz, pbbz, pzwh
  </sql>
<!--  <select id="selectByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.zd.YpPcKey" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from yp_pc-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--      and ggxh = #{ggxh,jdbcType=CHAR}-->
<!--      and cd_id = #{cdId,jdbcType=INTEGER}-->
<!--      and pcxh = #{pcxh,jdbcType=CHAR}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.zd.YpPcKey">-->
<!--    delete from yp_pc-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--      and ggxh = #{ggxh,jdbcType=CHAR}-->
<!--      and cd_id = #{cdId,jdbcType=INTEGER}-->
<!--      and pcxh = #{pcxh,jdbcType=CHAR}-->
<!--  </delete>-->
<!--  <insert id="insert" keyColumn="yph" keyProperty="yph" parameterType="com.yicloud.trans.model.mssql.zd.YpPc" useGeneratedKeys="true">-->
<!--    insert into yp_pc (ggxh, cd_id, pcxh, lsid, -->
<!--      scph, yxq, jj, kcsl, -->
<!--      dzbz, pbbz, pzwh)-->
<!--    values (#{ggxh,jdbcType=CHAR}, #{cdId,jdbcType=INTEGER}, #{pcxh,jdbcType=CHAR}, #{lsid,jdbcType=INTEGER}, -->
<!--      #{scph,jdbcType=VARCHAR}, #{yxq,jdbcType=TIMESTAMP}, #{jj,jdbcType=NUMERIC}, #{kcsl,jdbcType=NUMERIC}, -->
<!--      #{dzbz,jdbcType=INTEGER}, #{pbbz,jdbcType=INTEGER}, #{pzwh,jdbcType=VARCHAR})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" keyColumn="yph" keyProperty="yph" parameterType="com.yicloud.trans.model.mssql.zd.YpPc" useGeneratedKeys="true">-->
<!--    insert into yp_pc-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="ggxh != null">-->
<!--        ggxh,-->
<!--      </if>-->
<!--      <if test="cdId != null">-->
<!--        cd_id,-->
<!--      </if>-->
<!--      <if test="pcxh != null">-->
<!--        pcxh,-->
<!--      </if>-->
<!--      <if test="lsid != null">-->
<!--        lsid,-->
<!--      </if>-->
<!--      <if test="scph != null">-->
<!--        scph,-->
<!--      </if>-->
<!--      <if test="yxq != null">-->
<!--        yxq,-->
<!--      </if>-->
<!--      <if test="jj != null">-->
<!--        jj,-->
<!--      </if>-->
<!--      <if test="kcsl != null">-->
<!--        kcsl,-->
<!--      </if>-->
<!--      <if test="dzbz != null">-->
<!--        dzbz,-->
<!--      </if>-->
<!--      <if test="pbbz != null">-->
<!--        pbbz,-->
<!--      </if>-->
<!--      <if test="pzwh != null">-->
<!--        pzwh,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="ggxh != null">-->
<!--        #{ggxh,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="cdId != null">-->
<!--        #{cdId,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="pcxh != null">-->
<!--        #{pcxh,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="lsid != null">-->
<!--        #{lsid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="scph != null">-->
<!--        #{scph,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="yxq != null">-->
<!--        #{yxq,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="jj != null">-->
<!--        #{jj,jdbcType=NUMERIC},-->
<!--      </if>-->
<!--      <if test="kcsl != null">-->
<!--        #{kcsl,jdbcType=NUMERIC},-->
<!--      </if>-->
<!--      <if test="dzbz != null">-->
<!--        #{dzbz,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="pbbz != null">-->
<!--        #{pbbz,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="pzwh != null">-->
<!--        #{pzwh,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mssql.zd.YpPc">-->
<!--    update yp_pc-->
<!--    <set>-->
<!--      <if test="lsid != null">-->
<!--        lsid = #{lsid,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="scph != null">-->
<!--        scph = #{scph,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="yxq != null">-->
<!--        yxq = #{yxq,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="jj != null">-->
<!--        jj = #{jj,jdbcType=NUMERIC},-->
<!--      </if>-->
<!--      <if test="kcsl != null">-->
<!--        kcsl = #{kcsl,jdbcType=NUMERIC},-->
<!--      </if>-->
<!--      <if test="dzbz != null">-->
<!--        dzbz = #{dzbz,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="pbbz != null">-->
<!--        pbbz = #{pbbz,jdbcType=INTEGER},-->
<!--      </if>-->
<!--      <if test="pzwh != null">-->
<!--        pzwh = #{pzwh,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--      and ggxh = #{ggxh,jdbcType=CHAR}-->
<!--      and cd_id = #{cdId,jdbcType=INTEGER}-->
<!--      and pcxh = #{pcxh,jdbcType=CHAR}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.zd.YpPc">-->
<!--    update yp_pc-->
<!--    set lsid = #{lsid,jdbcType=INTEGER},-->
<!--      scph = #{scph,jdbcType=VARCHAR},-->
<!--      yxq = #{yxq,jdbcType=TIMESTAMP},-->
<!--      jj = #{jj,jdbcType=NUMERIC},-->
<!--      kcsl = #{kcsl,jdbcType=NUMERIC},-->
<!--      dzbz = #{dzbz,jdbcType=INTEGER},-->
<!--      pbbz = #{pbbz,jdbcType=INTEGER},-->
<!--      pzwh = #{pzwh,jdbcType=VARCHAR}-->
<!--    where yph = #{yph,jdbcType=INTEGER}-->
<!--      and ggxh = #{ggxh,jdbcType=CHAR}-->
<!--      and cd_id = #{cdId,jdbcType=INTEGER}-->
<!--      and pcxh = #{pcxh,jdbcType=CHAR}-->
<!--  </update>-->
</mapper>