<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yicloud.trans.mapper.mssql.zd.YskMapper">
  <resultMap id="BaseResultMap" type="com.yicloud.trans.model.mssql.zd.Ysk">
    <id column="ysh" jdbcType="CHAR" property="ysh" />
    <result column="bmh" jdbcType="CHAR" property="bmh" />
    <result column="ysm" jdbcType="CHAR" property="ysm" />
    <result column="ysbm" jdbcType="CHAR" property="ysbm" />
    <result column="zdq" jdbcType="TINYINT" property="zdq" />
    <result column="cfq" jdbcType="TINYINT" property="cfq" />
    <result column="sh" jdbcType="CHAR" property="sh" />
    <result column="mzq" jdbcType="TINYINT" property="mzq" />
    <result column="mcq" jdbcType="TINYINT" property="mcq" />
    <result column="jb" jdbcType="VARCHAR" property="jb" />
    <result column="zxbz" jdbcType="CHAR" property="zxbz" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="xb" jdbcType="CHAR" property="xb" />
    <result column="yygh_update_time" jdbcType="TIMESTAMP" property="yyghUpdateTime" />
    <result column="yygh_send_time" jdbcType="TIMESTAMP" property="yyghSendTime" />
    <result column="yygh_sync_state" jdbcType="TINYINT" property="yyghSyncState" />
    <result column="grjs" jdbcType="VARCHAR" property="grjs" />
    <result column="szyb_kbbm" jdbcType="VARCHAR" property="szybKbbm" />
    <result column="szyb_kbmc" jdbcType="VARCHAR" property="szybKbmc" />
    <result column="szyb_ysfwbm" jdbcType="VARCHAR" property="szybYsfwbm" />
    <result column="szyb_kbbm_new" jdbcType="VARCHAR" property="szybKbbmNew" />
    <result column="szyb_kbmc_new" jdbcType="VARCHAR" property="szybKbmcNew" />
    <result column="szyb_yszc" jdbcType="VARCHAR" property="szybYszc" />
    <result column="xlgbz" jdbcType="CHAR" property="xlgbz" />
  </resultMap>
  <sql id="Base_Column_List">
    ysh, bmh, ysm, ysbm, zdq, cfq, sh, mzq, mcq, jb, zxbz, bz, xb, yygh_update_time, 
    yygh_send_time, yygh_sync_state, grjs, szyb_kbbm, szyb_kbmc, szyb_ysfwbm, szyb_kbbm_new, 
    szyb_kbmc_new, szyb_yszc, xlgbz
  </sql>
<!--  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--    select -->
<!--    <include refid="Base_Column_List" />-->
<!--    from zd_ysk-->
<!--    where ysh = #{ysh,jdbcType=CHAR}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
<!--    delete from zd_ysk-->
<!--    where ysh = #{ysh,jdbcType=CHAR}-->
<!--  </delete>-->
<!--  <insert id="insert" keyColumn="ysh" keyProperty="ysh" parameterType="com.yicloud.trans.model.mssql.zd.Ysk" useGeneratedKeys="true">-->
<!--    insert into zd_ysk (bmh, ysm, ysbm, zdq, -->
<!--      cfq, sh, mzq, mcq, -->
<!--      jb, zxbz, bz, xb, -->
<!--      yygh_update_time, yygh_send_time, yygh_sync_state, -->
<!--      grjs, szyb_kbbm, szyb_kbmc, -->
<!--      szyb_ysfwbm, szyb_kbbm_new, szyb_kbmc_new, -->
<!--      szyb_yszc, xlgbz)-->
<!--    values (#{bmh,jdbcType=CHAR}, #{ysm,jdbcType=CHAR}, #{ysbm,jdbcType=CHAR}, #{zdq,jdbcType=TINYINT}, -->
<!--      #{cfq,jdbcType=TINYINT}, #{sh,jdbcType=CHAR}, #{mzq,jdbcType=TINYINT}, #{mcq,jdbcType=TINYINT}, -->
<!--      #{jb,jdbcType=VARCHAR}, #{zxbz,jdbcType=CHAR}, #{bz,jdbcType=VARCHAR}, #{xb,jdbcType=CHAR}, -->
<!--      #{yyghUpdateTime,jdbcType=TIMESTAMP}, #{yyghSendTime,jdbcType=TIMESTAMP}, #{yyghSyncState,jdbcType=TINYINT}, -->
<!--      #{grjs,jdbcType=VARCHAR}, #{szybKbbm,jdbcType=VARCHAR}, #{szybKbmc,jdbcType=VARCHAR}, -->
<!--      #{szybYsfwbm,jdbcType=VARCHAR}, #{szybKbbmNew,jdbcType=VARCHAR}, #{szybKbmcNew,jdbcType=VARCHAR}, -->
<!--      #{szybYszc,jdbcType=VARCHAR}, #{xlgbz,jdbcType=CHAR})-->
<!--  </insert>-->
<!--  <insert id="insertSelective" keyColumn="ysh" keyProperty="ysh" parameterType="com.yicloud.trans.model.mssql.zd.Ysk" useGeneratedKeys="true">-->
<!--    insert into zd_ysk-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="bmh != null">-->
<!--        bmh,-->
<!--      </if>-->
<!--      <if test="ysm != null">-->
<!--        ysm,-->
<!--      </if>-->
<!--      <if test="ysbm != null">-->
<!--        ysbm,-->
<!--      </if>-->
<!--      <if test="zdq != null">-->
<!--        zdq,-->
<!--      </if>-->
<!--      <if test="cfq != null">-->
<!--        cfq,-->
<!--      </if>-->
<!--      <if test="sh != null">-->
<!--        sh,-->
<!--      </if>-->
<!--      <if test="mzq != null">-->
<!--        mzq,-->
<!--      </if>-->
<!--      <if test="mcq != null">-->
<!--        mcq,-->
<!--      </if>-->
<!--      <if test="jb != null">-->
<!--        jb,-->
<!--      </if>-->
<!--      <if test="zxbz != null">-->
<!--        zxbz,-->
<!--      </if>-->
<!--      <if test="bz != null">-->
<!--        bz,-->
<!--      </if>-->
<!--      <if test="xb != null">-->
<!--        xb,-->
<!--      </if>-->
<!--      <if test="yyghUpdateTime != null">-->
<!--        yygh_update_time,-->
<!--      </if>-->
<!--      <if test="yyghSendTime != null">-->
<!--        yygh_send_time,-->
<!--      </if>-->
<!--      <if test="yyghSyncState != null">-->
<!--        yygh_sync_state,-->
<!--      </if>-->
<!--      <if test="grjs != null">-->
<!--        grjs,-->
<!--      </if>-->
<!--      <if test="szybKbbm != null">-->
<!--        szyb_kbbm,-->
<!--      </if>-->
<!--      <if test="szybKbmc != null">-->
<!--        szyb_kbmc,-->
<!--      </if>-->
<!--      <if test="szybYsfwbm != null">-->
<!--        szyb_ysfwbm,-->
<!--      </if>-->
<!--      <if test="szybKbbmNew != null">-->
<!--        szyb_kbbm_new,-->
<!--      </if>-->
<!--      <if test="szybKbmcNew != null">-->
<!--        szyb_kbmc_new,-->
<!--      </if>-->
<!--      <if test="szybYszc != null">-->
<!--        szyb_yszc,-->
<!--      </if>-->
<!--      <if test="xlgbz != null">-->
<!--        xlgbz,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="bmh != null">-->
<!--        #{bmh,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="ysm != null">-->
<!--        #{ysm,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="ysbm != null">-->
<!--        #{ysbm,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="zdq != null">-->
<!--        #{zdq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="cfq != null">-->
<!--        #{cfq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="sh != null">-->
<!--        #{sh,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="mzq != null">-->
<!--        #{mzq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="mcq != null">-->
<!--        #{mcq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="jb != null">-->
<!--        #{jb,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="zxbz != null">-->
<!--        #{zxbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="bz != null">-->
<!--        #{bz,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="xb != null">-->
<!--        #{xb,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="yyghUpdateTime != null">-->
<!--        #{yyghUpdateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="yyghSendTime != null">-->
<!--        #{yyghSendTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="yyghSyncState != null">-->
<!--        #{yyghSyncState,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="grjs != null">-->
<!--        #{grjs,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbbm != null">-->
<!--        #{szybKbbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbmc != null">-->
<!--        #{szybKbmc,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybYsfwbm != null">-->
<!--        #{szybYsfwbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbbmNew != null">-->
<!--        #{szybKbbmNew,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbmcNew != null">-->
<!--        #{szybKbmcNew,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybYszc != null">-->
<!--        #{szybYszc,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="xlgbz != null">-->
<!--        #{xlgbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
<!--  <update id="updateByPrimaryKeySelective" parameterType="com.yicloud.trans.model.mssql.zd.Ysk">-->
<!--    update zd_ysk-->
<!--    <set>-->
<!--      <if test="bmh != null">-->
<!--        bmh = #{bmh,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="ysm != null">-->
<!--        ysm = #{ysm,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="ysbm != null">-->
<!--        ysbm = #{ysbm,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="zdq != null">-->
<!--        zdq = #{zdq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="cfq != null">-->
<!--        cfq = #{cfq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="sh != null">-->
<!--        sh = #{sh,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="mzq != null">-->
<!--        mzq = #{mzq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="mcq != null">-->
<!--        mcq = #{mcq,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="jb != null">-->
<!--        jb = #{jb,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="zxbz != null">-->
<!--        zxbz = #{zxbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="bz != null">-->
<!--        bz = #{bz,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="xb != null">-->
<!--        xb = #{xb,jdbcType=CHAR},-->
<!--      </if>-->
<!--      <if test="yyghUpdateTime != null">-->
<!--        yygh_update_time = #{yyghUpdateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="yyghSendTime != null">-->
<!--        yygh_send_time = #{yyghSendTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="yyghSyncState != null">-->
<!--        yygh_sync_state = #{yyghSyncState,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="grjs != null">-->
<!--        grjs = #{grjs,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbbm != null">-->
<!--        szyb_kbbm = #{szybKbbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbmc != null">-->
<!--        szyb_kbmc = #{szybKbmc,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybYsfwbm != null">-->
<!--        szyb_ysfwbm = #{szybYsfwbm,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbbmNew != null">-->
<!--        szyb_kbbm_new = #{szybKbbmNew,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybKbmcNew != null">-->
<!--        szyb_kbmc_new = #{szybKbmcNew,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="szybYszc != null">-->
<!--        szyb_yszc = #{szybYszc,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="xlgbz != null">-->
<!--        xlgbz = #{xlgbz,jdbcType=CHAR},-->
<!--      </if>-->
<!--    </set>-->
<!--    where ysh = #{ysh,jdbcType=CHAR}-->
<!--  </update>-->
<!--  <update id="updateByPrimaryKey" parameterType="com.yicloud.trans.model.mssql.zd.Ysk">-->
<!--    update zd_ysk-->
<!--    set bmh = #{bmh,jdbcType=CHAR},-->
<!--      ysm = #{ysm,jdbcType=CHAR},-->
<!--      ysbm = #{ysbm,jdbcType=CHAR},-->
<!--      zdq = #{zdq,jdbcType=TINYINT},-->
<!--      cfq = #{cfq,jdbcType=TINYINT},-->
<!--      sh = #{sh,jdbcType=CHAR},-->
<!--      mzq = #{mzq,jdbcType=TINYINT},-->
<!--      mcq = #{mcq,jdbcType=TINYINT},-->
<!--      jb = #{jb,jdbcType=VARCHAR},-->
<!--      zxbz = #{zxbz,jdbcType=CHAR},-->
<!--      bz = #{bz,jdbcType=VARCHAR},-->
<!--      xb = #{xb,jdbcType=CHAR},-->
<!--      yygh_update_time = #{yyghUpdateTime,jdbcType=TIMESTAMP},-->
<!--      yygh_send_time = #{yyghSendTime,jdbcType=TIMESTAMP},-->
<!--      yygh_sync_state = #{yyghSyncState,jdbcType=TINYINT},-->
<!--      grjs = #{grjs,jdbcType=VARCHAR},-->
<!--      szyb_kbbm = #{szybKbbm,jdbcType=VARCHAR},-->
<!--      szyb_kbmc = #{szybKbmc,jdbcType=VARCHAR},-->
<!--      szyb_ysfwbm = #{szybYsfwbm,jdbcType=VARCHAR},-->
<!--      szyb_kbbm_new = #{szybKbbmNew,jdbcType=VARCHAR},-->
<!--      szyb_kbmc_new = #{szybKbmcNew,jdbcType=VARCHAR},-->
<!--      szyb_yszc = #{szybYszc,jdbcType=VARCHAR},-->
<!--      xlgbz = #{xlgbz,jdbcType=CHAR}-->
<!--    where ysh = #{ysh,jdbcType=CHAR}-->
<!--  </update>-->
</mapper>